// Neo button common variables
$neo-button-border-width: 2px !default;
$neo-button-border-style: solid !default;
$neo-button-transition: all 0.25s ease-in-out !default;

$neo-button-background-color-disabled: $neo-color-utility-surface !default;
$neo-button-border-color-disabled: $neo-color-utility-body !default;
$neo-button-box-shadow-disabled: -1px -1px 5px rgba(255, 255, 255, 0.6) !default;
$neo-button-text-color-disabled: $neo-color-base-content-tertiary !default;

// Primary button: common
$neo-button-primary-border-width: $neo-button-border-width !default;
$neo-button-primary-border-width-alternative: 0px !default;
$neo-button-primary-border-style: $neo-button-border-style !default;
// Primary button: background colors
$neo-button-primary-background-color: $neo-color-theme-accent !default;
$neo-button-primary-background-color-hover: $neo-color-theme-accent-hover !default;
$neo-button-primary-background-color-pressed: $neo-color-theme-accent-pressed !default;
$neo-button-primary-background-color-alternative: $neo-color-theme-secondary !default;
$neo-button-primary-background-color-alternative-active: $neo-color-theme-secondary-hover !default;
// Primary button: text colors
$neo-button-primary-text-color: $neo-color-base-on-accent !default;
$neo-button-primary-text-color-hover: $neo-button-primary-text-color !default;
$neo-button-primary-text-color-pressed: $neo-button-primary-text-color !default;
// Primary button: border colors
$neo-button-primary-border-color: $neo-color-base-border-secondary !default;
$neo-button-primary-border-color-hover: $neo-color-utility-surface !default;
$neo-button-primary-border-color-pressed: $neo-button-primary-border-color-hover !default;
// Primary button: box-shadow
$neo-button-primary-box-shadow: 1px 1px 5px $neo-color-base-on-accent, -1px -1px 5px $neo-color-base-on-accent !default;
$neo-button-primary-box-shadow-hover: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px $neo-color-base-on-accent, 0px 0px 20px rgba(247, 84, 163, 0.5) !default;
$neo-button-primary-box-shadow-pressed: $neo-button-primary-box-shadow-hover !default;
$neo-button-primary-box-shadow-alternative: none !default;

// Secondary button: common
$neo-button-secondary-border-width: 0px !default;
$neo-button-secondary-border-style: $neo-button-border-style !default;
// Secondary button: background colors
$neo-button-secondary-background-color: $neo-color-base-content-tertiary !default;
$neo-button-secondary-background-color-active: $neo-color-base-content-secondary !default;
$neo-button-secondary-background-color-alternative: $neo-color-utility-body !default;
$neo-button-secondary-background-color-alternative-active: $neo-color-base-content-tertiary !default;
// Secondary button: text colors
$neo-button-secondary-text-color: $neo-color-base-on-accent !default;
$neo-button-secondary-text-color-active: $neo-button-secondary-text-color !default;
$neo-button-secondary-text-color-alternative: $neo-color-base-content-tertiary !default;
$neo-button-secondary-text-color-alternative-active: $neo-color-base-on-accent !default;
// Secondary button: border colors
$neo-button-secondary-border-color: transparent !default;
$neo-button-secondary-border-color-active: $neo-button-secondary-border-color !default;
// Secondary button: box-shadow
$neo-button-secondary-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.1) !default;
$neo-button-secondary-box-shadow-active: $neo-button-secondary-box-shadow !default;
$neo-button-secondary-box-shadow-alternative: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8) !default;

// Tertiary button: common
$neo-button-tertiary-border-width: 0px !default;
$neo-button-tertiary-border-style: $neo-button-border-style !default;
// Tertiary button: background colors
$neo-button-tertiary-background-color: $neo-color-utility-surface !default;
$neo-button-tertiary-background-color-active: $neo-button-tertiary-background-color !default;
$neo-button-tertiary-background-color-alternative: $neo-color-utility-body !default;
// Tertiary button: text colors
$neo-button-tertiary-text-color: $neo-color-base-content-secondary !default;
$neo-button-tertiary-text-color-active: $neo-color-base-content-primary !default;
// Tertiary button: border colors
$neo-button-tertiary-border-color: transparent !default;
$neo-button-tertiary-border-color-active: $neo-button-tertiary-border-color !default;
// Tertiary button: box-shadow
$neo-button-tertiary-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), inset 1px 1px 2px #FFFFFF !default;
$neo-button-tertiary-box-shadow-active: $neo-button-tertiary-box-shadow !default;

// Action button: common
$neo-button-action-border-width: 0px !default;
$neo-button-action-border-style: $neo-button-border-style !default;
// Action button: background colors
$neo-button-action-background-color: $neo-color-utility-body !default;
$neo-button-action-background-color-hover: $neo-button-action-background-color !default;
$neo-button-action-background-color-pressed: $neo-button-action-background-color !default;
$neo-button-action-background-color-alternative: transparent !default;
// Action button: text colors
$neo-button-action-text-color: $neo-color-base-content-tertiary !default;
$neo-button-action-text-color-hover: $neo-color-base-content-secondary !default;
$neo-button-action-text-color-pressed: $neo-color-theme-accent !default;
$neo-button-action-text-color-alternative: $neo-color-base-content-tertiary !default;
$neo-button-action-text-color-alternative-active: $neo-color-base-content-secondary !default;
// Action button: border colors
$neo-button-action-border-color: transparent !default;
$neo-button-action-border-color-hover: $neo-button-action-border-color !default;
$neo-button-action-border-color-pressed: $neo-button-action-border-color !default;
$neo-button-action-border-color-alternative: transparent !default;
// Action button: box-shadow
$neo-button-action-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8) !default;
$neo-button-action-box-shadow-hover: $neo-button-action-box-shadow !default;
$neo-button-action-box-shadow-pressed: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1) !default;
$neo-button-action-box-shadow-alternative: none !default;

@mixin disabled (
  $border-width: $neo-button-border-width,
  $background-color: $neo-button-background-color-disabled,
  $box-shadow: $neo-button-box-shadow-disabled
) {
  &:disabled, &:disabled:hover {
    color: $neo-button-text-color-disabled;
    background-color: $background-color;
    border-color: $neo-button-border-color-disabled;
    box-shadow: $box-shadow;
    border-width: $border-width;
  }
}

.el-button.neomorphic {
  transition: $neo-button-transition;

  &.s-primary {
    background: $neo-button-primary-background-color;
    border-color: $neo-button-primary-border-color;
    border-style: $neo-button-primary-border-style;
    border-width: $neo-button-primary-border-width;
    box-shadow: $neo-button-primary-box-shadow;
    color: $neo-button-primary-text-color;

    &:hover, &:focus, &.focusing {
      background: $neo-button-primary-background-color-hover;
      border-color: $neo-button-primary-border-color-hover;
      color: $neo-button-primary-text-color-hover;
      box-shadow: $neo-button-primary-box-shadow-hover;
    }
    &:active, &.s-pressed {
      background: $neo-button-primary-background-color-pressed;
      border-color: $neo-button-primary-border-color-pressed;
      color: $neo-button-primary-text-color-pressed;
      box-shadow: $neo-button-primary-box-shadow-pressed;
    }
    @include disabled;

    &.s-alternative {
      background: $neo-button-primary-background-color-alternative;
      border-width: $neo-button-primary-border-width-alternative;
      box-shadow: $neo-button-primary-box-shadow-alternative;

      &:hover, &:focus, &.focusing, &:active, &.s-pressed {
        background: $neo-button-primary-background-color-alternative-active;
      }

      @include disabled($neo-button-primary-border-width-alternative);
    }
  }

  &.s-secondary {
    background: $neo-button-secondary-background-color;
    border-color: $neo-button-secondary-border-color;
    border-style: $neo-button-secondary-border-style;
    border-width: $neo-button-secondary-border-width;
    box-shadow: $neo-button-secondary-box-shadow;
    color: $neo-button-secondary-text-color;

    &:hover, &:focus, &.focusing, &:active, &.s-pressed {
      background: $neo-button-secondary-background-color-active;
      border-color: $neo-button-secondary-border-color-active;
      color: $neo-button-secondary-text-color-active;
      box-shadow: $neo-button-secondary-box-shadow-active;
    }
    @include disabled($neo-button-secondary-border-width);

    &.s-alternative {
      background: $neo-button-secondary-background-color-alternative;
      box-shadow: $neo-button-secondary-box-shadow-alternative;
      color: $neo-button-secondary-text-color-alternative;

      &:hover, &:focus, &.focusing, &:active, &.s-pressed {
        background: $neo-button-secondary-background-color-alternative-active;
        color: $neo-button-secondary-text-color-alternative-active;
      }
      @include disabled($neo-button-secondary-border-width);
    }
  }

  &.s-tertiary {
    background: $neo-button-tertiary-background-color;
    border-color: $neo-button-tertiary-border-color;
    border-style: $neo-button-tertiary-border-style;
    border-width: $neo-button-tertiary-border-width;
    box-shadow: $neo-button-tertiary-box-shadow;
    color: $neo-button-tertiary-text-color;

    &:hover, &:focus, &.focusing, &:active, &.s-pressed {
      background: $neo-button-tertiary-background-color-active;
      border-color: $neo-button-tertiary-border-color-active;
      color: $neo-button-tertiary-text-color-active;
      box-shadow: $neo-button-tertiary-box-shadow-active;
    }
    @include disabled($neo-button-tertiary-border-width);

    &.s-alternative {
      background: $neo-button-tertiary-background-color-alternative;

      @include disabled($neo-button-tertiary-border-width);
    }
  }

  &.s-action {
    background: $neo-button-action-background-color;
    border-color: $neo-button-action-border-color;
    border-style: $neo-button-action-border-style;
    border-width: $neo-button-action-border-width;
    box-shadow: $neo-button-action-box-shadow;
    color: $neo-button-action-text-color;

    &:hover, &:focus, &.focusing {
      background: $neo-button-action-background-color-hover;
      border-color: $neo-button-action-border-color-hover;
      color: $neo-button-action-text-color-hover;
      box-shadow: $neo-button-action-box-shadow-hover;
    }
    &:active, &.s-pressed {
      background: $neo-button-action-background-color-pressed;
      border-color: $neo-button-action-border-color-pressed;
      color: $neo-button-action-text-color-pressed;
      box-shadow: $neo-button-action-box-shadow-pressed;
    }
    @include disabled($neo-button-action-border-width, $neo-button-action-background-color, $neo-button-action-box-shadow-pressed);
    &.s-alternative {
      color: $neo-button-action-text-color-alternative;

      &, &:hover, &:focus, &.focusing, &:active, &.s-pressed {
        background-color: $neo-button-action-background-color-alternative;
        border-color: $neo-button-action-border-color-alternative;
        box-shadow: $neo-button-action-box-shadow-alternative;
      }
      &:hover, &:focus, &.focusing, &:active, &.s-pressed {
        color: $neo-button-action-text-color-alternative-active;
      }
      @include disabled($neo-button-action-border-width, $neo-button-action-background-color-alternative, $neo-button-action-box-shadow-alternative);
    }
  }
}