@import "./variables";

.el-breadcrumb__separator {
  color: $s-color-neutral-secondary;
  font-weight: normal;
}
.el-breadcrumb__inner {
  color: $s-color-neutral-secondary;
  &.is-link {
    color: $s-color-neutral-secondary;
    font-weight: normal;
  }
}
.el-breadcrumb__item:last-child {
  pointer-events: none;
}
