$s-color-button-tertiary-color: var(--s-color-base-content-primary) !default;
$s-color-button-tertiary-color-active: var(--s-color-theme-accent) !default;
$s-color-button-tertiary-background: var(--s-color-base-background) !default;
$s-color-button-tertiary-background-hover: var(--s-color-base-background) !default;
$s-color-button-tertiary-background-pressed: var(--s-color-base-background) !default;
$s-color-button-tertiary-background-focused: var(--s-color-base-background) !default;

:root {
  --s-color-button-tertiary-color: #{$s-color-button-tertiary-color};
  --s-color-button-tertiary-color-active: #{$s-color-button-tertiary-color-active};
  --s-color-button-tertiary-background: #{$s-color-button-tertiary-background};
  --s-color-button-tertiary-background-hover: #{$s-color-button-tertiary-background-hover};
  --s-color-button-tertiary-background-pressed: #{$s-color-button-tertiary-background-pressed};
  --s-color-button-tertiary-background-focused: #{$s-color-button-tertiary-background-focused};
}

@mixin disabled {
  &:disabled, &:disabled:hover {
    color: var(--s-color-base-on-disabled);
    background-color: var(--s-color-base-disabled);
    border-color: var(--s-color-base-disabled);
  }
}

.s-loading {
  padding: 12px 17.5px;
  i {
    position: absolute;
    left: var(--s-button-loading-left);
  }
  &.s-small {
    padding: 9px 15px;
    i {
      left: calc(var(--s-button-loading-left) + 2px);
    }
  }
  > :not(i) {
    color: transparent;
  }
}
.el-button {
  font-weight: 700;
  &.s-primary {
    background-color: var(--s-color-theme-accent);
    border-color: var(--s-color-theme-accent);
    color: var(--s-color-base-on-accent);
    &.focusing {
      background-color: var(--s-color-theme-accent-focused);
      border-color: var(--s-color-theme-accent-focused);
    }
    &:hover {
      background-color: var(--s-color-theme-accent-hover);
      border-color: var(--s-color-theme-accent-hover);
    }
    &.s-pressed {
      background-color: var(--s-color-theme-accent-pressed);
      border-color: var(--s-color-theme-accent-pressed);
    }
    @include disabled;
  }
  &.s-secondary {
    background-color: var(--s-color-base-on-accent);
    color: var(--s-color-base-content-primary);
    border-color: var(--s-color-base-border-primary);
    &.focusing, &:hover, &.s-pressed {
      color: var(--s-color-theme-accent);
      background-color: var(--s-color-base-on-accent);
      border-color: var(--s-color-theme-accent);
    }
    @include disabled;
    &.s-alternative {
      &.focusing, &:hover, &.s-pressed {
        color: var(--s-color-base-content-primary);
        background-color: var(--s-color-base-background);
        border-color: var(--s-color-base-background);
      }
      @include disabled;
    }
  }
  &.s-link {
    color: var(--s-color-base-content-primary);
    border: none;
    background-color: transparent;
    &.focusing, &:hover, &.s-pressed {
      color: var(--s-color-theme-accent);
      background-color: transparent;
    }
    &:disabled, &:disabled:hover {
      color: var(--s-color-base-on-disabled);
    }
  }
  &.s-tertiary {
    color: var(--s-color-button-tertiary-color);
    border-color: var(--s-color-button-tertiary-background);
    background-color: var(--s-color-button-tertiary-background);
    &.focusing, &:hover, &.s-pressed {
      color: var(--s-color-button-tertiary-color-active);
    }
    &.focusing {
      background-color: var(--s-color-button-tertiary-background-focused);
      border-color: var(--s-color-button-tertiary-background-focused);
    }
    &:hover {
      background-color: var(--s-color-button-tertiary-background-hover);
      border-color: var(--s-color-button-tertiary-background-hover);
    }
    &.s-pressed {
      background-color: var(--s-color-button-tertiary-background-pressed);
      border-color: var(--s-color-button-tertiary-background-pressed);
    }
    @include disabled;
  }
  &.s-action {
    &.s-big {
      width: $s-size-big;
      padding: 12px;
      i {
        font-size: var(--s-icon-font-size-medium);
      }
    }
    &.s-medium {
      width: $s-size-medium;
      padding: 10px;
      i {
        font-size: var(--s-icon-font-size-small);
      }
    }
    &.s-small {
      width: $s-size-small;
      padding: 9px;
      i {
        font-size: var(--s-icon-font-size-mini);
        margin-left: -2px;
        margin-top: -2px;
      }
    }
    color: var(--s-color-base-content-primary);
    background-color: var(--s-color-base-background);
    border-color: var(--s-color-base-background);
    &.focusing, &:hover, &.s-pressed {
      color: var(--s-color-base-content-primary);
      background-color: var(--s-color-base-background-hover);
      border-color: var(--s-color-base-background-hover);
    }
    @include disabled;
    &.s-alternative {
      background-color: var(--s-color-base-on-accent);
      border-color: var(--s-color-base-border-primary);
      &.focusing, &:hover, &.s-pressed {
        color: var(--s-color-base-content-primary);
        background-color: var(--s-color-base-background);
        border-color: var(--s-color-base-background);
      }
      @include disabled;
    }
  }
  span {
    font-feature-settings: var(--s-font-feature-settings-heading);
    @include font-weight(700, true);
  }
}
button {
  > span > i {
    &[class^=s-icon-], &[class^=el-icon-] {
      display: inline-block;
      color: inherit;
    }
  }
  &:not(.s-action).s-i-position {
    &-left > span > i {
      &[class^=s-icon-], &[class^=el-icon-] {
        margin-right: 6px;
      }
    }
    &-right > span > i {
      &[class^=s-icon-], &[class^=el-icon-] {
        margin-left: 6px;
      }
    }
  }
}
.el-button-group .el-button.el-button--plain {
  color: var(--s-color-base-content-primary);
  border-color: var(--s-color-base-border-primary);
  background-color: var(--s-color-base-on-accent);
  &.focusing, &:hover, &.s-pressed {
    color: var(--s-color-theme-accent);
    background-color: var(--s-color-base-on-accent);
    border-color: var(--s-color-theme-accent);
  }
}
