$s-color-button-tertiary-color: var(--s-color-base-content-primary) !default;
$s-color-button-tertiary-color-active: var(--s-color-theme-accent) !default;
$s-color-button-tertiary-background: var(--s-color-base-background) !default;
$s-color-button-tertiary-background-hover: var(--s-color-base-background) !default;
$s-color-button-tertiary-background-pressed: var(--s-color-base-background) !default;
$s-color-button-tertiary-background-focused: var(--s-color-base-background) !default;

:root {
  --s-color-button-tertiary-color: #{$s-color-button-tertiary-color};
  --s-color-button-tertiary-color-active: #{$s-color-button-tertiary-color-active};
  --s-color-button-tertiary-background: #{$s-color-button-tertiary-background};
  --s-color-button-tertiary-background-hover: #{$s-color-button-tertiary-background-hover};
  --s-color-button-tertiary-background-pressed: #{$s-color-button-tertiary-background-pressed};
  --s-color-button-tertiary-background-focused: #{$s-color-button-tertiary-background-focused};
}

.s-loading {
  padding: 12px 17.5px;
  i {
    position: absolute;
    left: var(--s-button-loading-left);
  }
  &.s-small {
    padding: 9px 15px;
    i {
      left: calc(var(--s-button-loading-left) + 2px);
    }
  }
  > :not(i) {
    color: transparent;
  }
}
.s-primary {
  background-color: var(--s-color-theme-accent);
  border-color: var(--s-color-theme-accent);
  color: var(--s-color-base-on-accent);
  &:hover {
    background-color: var(--s-color-theme-accent-hover);
    border-color: var(--s-color-theme-accent-hover);
  }
  &:active {
    background-color: var(--s-color-theme-accent-pressed);
    border-color: var(--s-color-theme-accent-pressed);
  }
  &:focus {
    background-color: var(--s-color-theme-accent-focused);
    border-color: var(--s-color-theme-accent-focused);
  }
  &:disabled, &:disabled:hover {
    color: var(--s-color-base-content-quaternary);
    background-color: var(--s-color-base-disabled);
    border-color: var(--s-color-base-disabled);
  }
}
.s-secondary {
  background-color: var(--s-color-base-on-accent);
  color: var(--s-color-base-content-primary);
  border-color: var(--s-color-base-border-primary);
  &:hover, &:active, &:focus {
    color: var(--s-color-theme-accent);
    background-color: var(--s-color-base-on-accent);
    border-color: var(--s-color-theme-accent);
  }
  &:disabled, &:disabled:hover {
    color: var(--s-color-base-content-quaternary);
    background-color: var(--s-color-base-disabled);
    border-color: var(--s-color-base-disabled);
  }
  &.s-alternative {
    &:hover, &:active, &:focus {
      color: var(--s-color-base-content-primary);
      background-color: var(--s-color-base-background);
      border-color: var(--s-color-base-background);
    }
    &:disabled, &:disabled:hover {
      color: var(--s-color-base-content-quaternary);
      background-color: var(--s-color-base-disabled);
      border-color: var(--s-color-base-disabled);
    }
  }
}
.s-link {
  color: var(--s-color-base-content-primary);
  border: none;
  background-color: transparent;
  &:hover, &:active, &:focus {
    color: var(--s-color-theme-accent);
    background-color: transparent;
  }
  &:disabled, &:disabled:hover {
    color: var(--s-color-base-content-quaternary);
  }
}
.s-tertiary {
  color: var(--s-color-button-tertiary-color);
  border-color: var(--s-color-button-tertiary-background);
  background-color: var(--s-color-button-tertiary-background);
  &:hover, &:active, &:focus {
    color: var(--s-color-button-tertiary-color-active);
  }
  &:hover {
    background-color: var(--s-color-button-tertiary-background-hover);
    border-color: var(--s-color-button-tertiary-background-hover);
  }
  &:active {
    background-color: var(--s-color-button-tertiary-background-pressed);
    border-color: var(--s-color-button-tertiary-background-pressed);
  }
  &:focus {
    background-color: var(--s-color-button-tertiary-background-focused);
    border-color: var(--s-color-button-tertiary-background-focused);
  }
  &:disabled, &:disabled:hover {
    color: var(--s-color-base-content-quaternary);
    background-color: var(--s-color-base-disabled);
    border-color: var(--s-color-base-disabled);
  }
}
.s-action {
  &.s-big {
    width: $s-size-big;
    padding: 12px;
    i {
      font-size: 20px;
    }
  }
  &.s-medium {
    width: $s-size-medium;
    padding: 10px;
    i {
      font-size: 18px;
    }
  }
  &.s-small {
    width: $s-size-small;
    padding: 9px;
    i {
      font-size: 16px;
      margin-left: -2px;
      margin-top: -2px;
    }
  }
  color: var(--s-color-base-content-primary);
  background-color: var(--s-color-base-background);
  border-color: var(--s-color-base-background);
  &:hover, &:active, &:focus {
    color: var(--s-color-base-content-primary);
    background-color: var(--s-color-base-background-hover);
    border-color: var(--s-color-base-background-hover);
  }
  &:disabled, &:disabled:hover {
    color: var(--s-color-base-content-quaternary);
    background-color: var(--s-color-base-disabled);
    border-color: var(--s-color-base-disabled);
  }
  &.s-alternative {
    background-color: var(--s-color-base-on-accent);
    border-color: var(--s-color-base-border-primary);
    &:hover, &:active, &:focus {
      color: var(--s-color-base-content-primary);
      background-color: var(--s-color-base-background);
      border-color: var(--s-color-base-background);
    }
    &:disabled, &:disabled:hover {
      color: var(--s-color-base-content-quaternary);
      background-color: var(--s-color-base-disabled);
      border-color: var(--s-color-base-disabled);
    }
  }
}
button {
  > span > i {
    &[class^=s-icon-], &[class^=el-icon-] {
      display: inline-block;
      color: inherit;
    }
  }
  &:not(.s-action) > span > i {
    &[class^=s-icon-], &[class^=el-icon-] {
      margin-right: 6px;
    }
  }
}
.el-button-group .el-button--plain {
  color: var(--s-color-base-content-primary);
  border-color: var(--s-color-base-border-primary);
  &:hover, &:active, &:focus {
    color: var(--s-color-theme-accent);
    background-color: var(--s-color-base-on-accent);
    border-color: var(--s-color-theme-accent);
  }
}
