.s-card {
  color: var(--s-color-base-content-primary);
  border-color: var(--s-color-base-border-primary);
  &.s-clickable {
    cursor: pointer;
  }
  &.is-always-shadow {
    border-color: transparent;
  }
  &:hover, &:focus {
    &.is-hover-shadow {
      border-color: transparent;
    }
  }
  .el-card__header {
    border-bottom-color: transparent;
    padding-bottom: 0;
    text-align: left;
  }
  .el-card__body {
    padding: 18px 20px;
  }
}
