@mixin checkbox-border-radius(
  $suffix: "big",
  $border-radius: var(--s-border-radius-big)
) {
  &.s-border-radius {
    &-#{$suffix} {
      border-radius: 0;
      &.is-bordered {
        border-radius: $border-radius;
      }
      .el-checkbox__inner {
        border-radius: $border-radius;
      }
    }
  }
}

.el-checkbox {
  color: var(--s-color-base-content-primary);
  @include checkbox-border-radius;
  @include checkbox-border-radius("medium", var(--s-border-radius-medium));
  @include checkbox-border-radius("small", var(--s-border-radius-small));
  @include checkbox-border-radius("mini", var(--s-border-radius-mini));
  &.is-bordered {
    &,
    &.is-disabled,
    &.is-disabled.is-checked {
      border-color: var(--s-color-base-border-primary);
    }
    &.is-checked {
      border-color: var(--s-color-theme-accent);
    }
  }
  &.s-big {
    @extend .s-big;
    padding: 17px 0 9px 0;
    &.is-bordered {
      padding: 17px 20px 9px 15px;
    }
  }
  &.s-medium {
    @extend .s-medium;
    &,
    &.is-bordered {
      padding: 9px 15px 7px 10px;
      .el-checkbox__inner {
        height: 16px;
        width: 16px;
        &::after {
          top: 0;
          left: 4px;
          height: 8px;
          width: 4px;
        }
      }
    }
    & {
      padding: 9px 0 7px 0;
    }
  }
  &.s-small {
    @extend .s-small;
    .el-checkbox__label {
      font-size: var(--s-font-size-mini);
    }
    &,
    &.is-bordered {
      padding: 5px 15px 5px 10px;
      .el-checkbox__inner {
        height: 14px;
        width: 14px;
        &::after {
          top: 1px;
          left: 4px;
          height: 6px;
          width: 2px;
        }
      }
    }
    & {
      padding: 5px 0;
    }
  }
}
.el-checkbox__inner {
  border-color: var(--s-color-base-border-primary);
  width: 20px;
  height: 20px;
  &::after {
    border-width: 2px;
    height: 10px;
    left: 6px;
    width: 5px;
  }
  &:hover {
    border-color: var(--s-color-theme-accent);
  }
}
.el-checkbox__input {
  &.is-disabled {
    .el-checkbox__inner {
      background-color: var(--s-color-base-disabled);
      border-color: var(--s-color-base-border-primary);
    }
    & + span.el-checkbox__label {
      color: var(--s-color-base-on-disabled);
    }
  }
  &.is-focus > .el-checkbox__inner {
    border-color: var(--s-color-theme-accent);
  }
  &.is-checked {
    > .el-checkbox__inner {
      background-color: var(--s-color-theme-accent);
      border-color: var(--s-color-theme-accent);
    }
    &.is-disabled > .el-checkbox__inner {
      background-color: var(--s-color-base-disabled);
      border-color: var(--s-color-base-border-primary);
      &::after {
        border-color: var(--s-color-base-on-disabled);
      }
    }
    & + .el-checkbox__label {
      color: var(--s-color-base-content-primary);
    }
  }
}
