.el-collapse {
  border-top-color: var(--s-color-base-border-secondary);
  border-bottom-color: var(--s-color-base-border-secondary);
}
.s-without-padding > .el-collapse-item__wrap > .el-collapse-item__content {
  padding-bottom: 0;
}
.el-collapse-item:last-child {
  margin-bottom: 0;
  .el-collapse-item {
    &__header {
      border: none;
    }
    &__wrap {
      border-bottom: none;
    }
  }
}
.el-collapse-item {
  &__wrap {
    border-bottom-color: var(--s-color-base-border-secondary);
    background-color: transparent;
  }
  &__header {
    color: var(--s-color-base-content-primary);
    border-bottom-color: var(--s-color-base-border-secondary);
    background-color: transparent;
    &.is-active {
      border-bottom-color: transparent;
    }
    .el-icon-arrow-right {
      &,
      &::before {
        font-family: var(--s-font-family-icons);
      }
      &::before {
        position: absolute;
        transition: transform 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @extend .s-icon-chevron-down-rounded-16;
      font-size: var(--s-icon-font-size-mini);
      padding: 0 8px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      background-color: var(--s-color-base-background);
      border-radius: var(--s-border-radius-small);
      &.is-active {
        transform: none;
        &::before {
          transform: scale(1, -1);
        }
      }
      &:hover,
      &:focus {
        background-color: var(--s-color-base-background-hover);
      }
    }
  }
  &__content {
    color: var(--s-color-base-content-primary);
  }
  &__arrow {
    margin: 0 0 0 auto;
  }
}
.el-collapse-item.is-disabled .el-collapse-item__header {
  color: var(--s-color-base-content-quaternary);
  .el-collapse-item__arrow.el-icon-arrow-right {
    background-color: var(--s-color-base-disabled);
  }
}
