@import "./variables";
@import "./icons";

.el-collapse {
  border-top-color: var(--s-color-base-border-secondary);
  border-bottom-color: var(--s-color-base-border-secondary);
}
.s-without-border {
  > div > .el-collapse-item__header,
  > .el-collapse-item__wrap {
    border: none;
  }
}
.s-without-padding > .el-collapse-item__wrap > .el-collapse-item__content {
  padding-bottom: 0;
}
.el-collapse-item__ {
  &wrap {
    border-bottom-color: var(--s-color-base-border-secondary);
  }
  &header {
    color: var(--s-color-base-content-primary);
    border-bottom-color: var(--s-color-base-border-secondary);
    &.is-active {
      border-bottom-color: transparent;
    }
    .el-icon-arrow-right {
      font-family: 'soramitsu-icons' !important;
      @extend .s-icon-chevron-top;
      font-size: 16px;
      padding: 8px;
      width: 32px;
      height: 32px;
      background-color: var(--s-color-base-background);
      border-radius: 50%;
      &.is-active {
        transform: rotate(180deg);
      }
      &:hover, &:focus {
        background-color: var(--s-color-base-background-hover);
      }
    }
  }
  &content {
    color: var(--s-color-base-content-primary);
  }
}
.el-collapse-item.is-disabled .el-collapse-item__header {
  color: var(--s-color-base-content-quaternary);
  .el-collapse-item__arrow.el-icon-arrow-right {
    background-color: var(--s-color-base-disabled);
  }
}
