@import "./variables";

[class^="el-"]:not(i):not([class*='el-icon']),
[class*="el-"]:not(i):not([class*='el-icon']) {
  font-family: $s-font-family-default;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */
h1 {
  font-family: $s-font-family-default;
  font-weight: normal;
  font-size: 36px;
}

h2 {
  font-family: $s-font-family-default;
  font-weight: normal;
  font-size: 30px;
}

h3 {
  font-family: $s-font-family-default;
  font-weight: normal;
  font-size: 24px;
}

h4 {
  font-family: $s-font-family-default;
  font-weight: normal;
  font-size: 18px;
}

h5 {
  font-family: $s-font-family-default;
  font-weight: bold;
  font-size: 16px;
}

h6 {
  font-family: $s-font-family-default;
  font-weight: bold;
  font-size: 14px;
}

.s-flex {
  display: flex;
}

.s-bold {
  font-weight: bold;
}

.s-big {
  height: $s-size-big;
}

.s-medium {
  height: $s-size-medium;
}

.s-small {
  height: $s-size-small;
}

button > span {
  position: relative;
}

// TODO: move to separate file and import to storybook
.sbdocs.sbdocs-preview div[id^='story--'] > * {
  height: auto !important;
}

@mixin res($key, $map: $--breakpoints) {
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  } @else {
    @warn "Undefeined points: `#{$map}`";
  }
}

@mixin utils-clearfix {
  $selector: &;
  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }
    #{$selector}::after {
      clear: both;
    }
  }
}

.el-message-box {
  .el-message-box__header {
    .el-message-box__title {
      color: var(--s-color-base-content-primary);
      font-size: 16px;
    }
  }
  .el-message-box__btns {
    button.el-button.el-button--default.el-button--small {
      height: $s-size-medium;
      font-size: 14px;
      border-radius: 4px;
      &:hover, &:active, &:focus {
        color: var(--s-color-theme-accent);
        background-color: var(--s-color-base-on-accent);
        border-color: var(--s-color-theme-accent);
      }
      &.el-button--primary {
        &:hover, &:active, &:focus {
          color: var(--s-color-base-on-accent);
        }
        &:hover {
          background-color: var(--s-color-theme-accent-hover);
          border-color: var(--s-color-theme-accent-hover);
        }
        &:active {
          background-color: var(--s-color-theme-accent-pressed);
          border-color: var(--s-color-theme-accent-pressed);
        }
        &:focus {
          background-color: var(--s-color-theme-accent-focused);
          border-color: var(--s-color-theme-accent-focused);
        }
      }
    }
  }
}
