[class^="el-"]:not(i):not([class*='el-icon']),
[class*="el-"]:not(i):not([class*='el-icon']) {
  font-family: $s-font-family-default;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: $s-font-family-default;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: var(--s-heading1-font-size);
}

h2 {
  font-size: var(--s-heading2-font-size);
}

h3 {
  font-size: var(--s-heading3-font-size);
}

h4 {
  font-size: var(--s-heading4-font-size);
}

h5 {
  font-size: var(--s-heading5-font-size);
}

h6 {
  font-size: var(--s-heading6-font-size);
}

.s-flex {
  display: flex;
}

.s-bold {
  font-weight: bold;
}

.s-big {
  height: var(--s-size-big);
}

.s-medium {
  height: var(--s-size-medium);
}

.s-small {
  height: var(--s-size-small);
}

.s-mini {
  height: var(--s-size-mini);
}

.s-border-radius-big {
  border-radius: var(--s-border-radius-big);
}

.s-border-radius-medium {
  border-radius: var(--s-border-radius-medium);
}

.s-border-radius-small {
  border-radius: var(--s-border-radius-small);
}

.s-border-radius-mini {
  border-radius: var(--s-border-radius-mini);
}

.s-border-radius-big {
  border-radius: var(--s-border-radius-big);
}

.s-border-radius-medium {
  border-radius: var(--s-border-radius-medium);
}

.s-border-radius-small {
  border-radius: var(--s-border-radius-small);
}

.s-border-radius-mini {
  border-radius: var(--s-border-radius-mini);
}

button > span {
  position: relative;
}

// TODO: move to separate file and import to storybook
.sbdocs.sbdocs-preview div[id^='story--'] > * {
  height: auto !important;
}

@mixin res($key, $map: $--breakpoints) {
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  } @else {
    @warn "Undefeined points: `#{$map}`";
  }
}

@mixin utils-clearfix {
  $selector: &;
  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }
    #{$selector}::after {
      clear: both;
    }
  }
}

.el-message-box {
  .el-message-box__header {
    .el-message-box__title {
      color: var(--s-color-base-content-primary);
      font-size: var(--s-heading5-font-size);
    }
  }
  .el-message-box__btns {
    button.el-button.el-button--default.el-button--small {
      height: $s-size-medium;
      font-size: var(--s-font-size-small);
      border-radius: var(--s-border-radius-mini);
      &:hover, &:active, &:focus {
        color: var(--s-color-theme-accent);
        background-color: var(--s-color-base-on-accent);
        border-color: var(--s-color-theme-accent);
      }
      &.el-button--primary {
        &:hover, &:active, &:focus {
          color: var(--s-color-base-on-accent);
        }
        &:hover {
          background-color: var(--s-color-theme-accent-hover);
          border-color: var(--s-color-theme-accent-hover);
        }
        &:active {
          background-color: var(--s-color-theme-accent-pressed);
          border-color: var(--s-color-theme-accent-pressed);
        }
        &:focus {
          background-color: var(--s-color-theme-accent-focused);
          border-color: var(--s-color-theme-accent-focused);
        }
      }
    }
  }
}
