@mixin date-picker-border-radius(
  $suffix: "big",
  $border-radius: var(--s-border-radius-big)
) {
  &.s-border-radius {
    &-#{$suffix} {
      border-radius: 0;
      .s-placeholder {
        border-top-left-radius: $border-radius;
      }
      & .el-input__inner {
        border-radius: $border-radius;
      }
    }
  }
}

.s-date-picker {
  font-family: $s-font-family-default;
  width: 100%;
  position: relative;
  .el-date-editor {
    width: 100%;
    &.el-input,
    &.el-input__inner {
      width: 100%;
    }
    .el-range-separator {
      color: var(--s-color-base-content-tertiary);
    }
    .el-input__inner,
    .el-range-input {
      &::placeholder {
        color: var(--s-color-base-content-tertiary);
        opacity: 1; // Firefox
      }
    }
    &.is-active {
      border-color: var(--s-color-base-border-primary);
    }
  }
  @include date-picker-border-radius;
  @include date-picker-border-radius("medium", var(--s-border-radius-medium));
  @include date-picker-border-radius("small", var(--s-border-radius-small));
  @include date-picker-border-radius("mini", var(--s-border-radius-mini));
  &.s-has-value {
    .el-date-editor .el-range-separator {
      color: var(--s-color-base-content-primary);
    }
    .el-range-input {
      color: var(--s-color-base-content-primary);
    }
  }
  &.s-input-type {
    min-height: $s-size-big;
    .el-input__inner {
      height: $s-size-big;
      padding: 0 15px;
      border: 1px solid var(--s-color-base-background);
      background-color: var(--s-color-base-background);
    }
    &:hover {
      .el-input__inner {
        border-color: var(--s-color-base-background-hover);
      }
      .el-input__inner,
      .s-placeholder {
        background-color: var(--s-color-base-background-hover);
      }
    }
    .s-placeholder + .el-date-editor {
      > .el-input__inner {
        padding-top: 12px;
      }
      .el-input__validateIcon {
        padding-top: 11px;
      }
    }
    &.s-focused {
      .el-input__inner {
        border-color: var(--s-color-base-border-primary);
      }
      .el-input__inner,
      .s-placeholder {
        background-color: var(--s-color-utility-surface);
      }
    }
    &.s-disabled {
      .el-input__inner {
        border-color: var(--s-color-base-disabled);
      }
      .el-input__inner,
      .s-placeholder {
        color: var(--s-color-base-content-quaternary);
        background-color: var(--s-color-base-disabled);
      }
    }
  }
  .s-placeholder {
    // TODO: add default animation from material-ui
    color: var(--s-color-base-content-tertiary);
    text-align: left;
    font-size: var(--s-font-size-mini);
    padding: 0 15px;
    padding-top: 5px;
    top: 1px;
    left: 1px;
    position: absolute;
    z-index: 1;
    width: calc(100% - 15px);
    background-color: var(--s-color-base-background);
    pointer-events: none;
  }
  &.s-select-type {
    .el-date-editor {
      .el-input__inner,
      .el-range-input,
      .el-range-separator {
        font-weight: bold;
      }
      &.el-input__inner,
      & .el-input__inner {
        padding-left: 12px;
        &:hover {
          border-color: var(--s-color-base-border-primary);
        }
        &::placeholder,
        .el-range-input::placeholder {
          color: var(--s-color-base-content-tertiary);
          font-weight: bold;
        }
      }
    }
    .s-icon-chevron-bottom {
      position: absolute;
      right: 10px;
      top: 30%;
      pointer-events: none;
      color: var(--s-color-base-content-tertiary);
      transition: transform 0.3s;
    }
    &.s-focused {
      .el-date-editor.el-input__inner,
      .el-date-editor .el-input__inner {
        border-color: var(--s-color-base-border-primary);
      }
      &:not(.disabled) .s-icon-chevron-bottom {
        transform: rotate(180deg);
      }
    }
    &.s-has-value {
      .s-icon-chevron-bottom {
        color: var(--s-color-base-content-primary);
      }
    }
    &.s-disabled {
      .el-date-editor.el-input__inner,
      .el-date-editor .el-input__inner {
        color: var(--s-color-base-content-quaternary);
        border-color: var(--s-color-base-disabled);
        background-color: var(--s-color-utility-surface);
        &::placeholder {
          color: var(--s-color-base-content-quaternary);
        }
        .el-range-input {
          background-color: var(--s-color-utility-surface);
          color: var(--s-color-base-content-quaternary);
          &::placeholder {
            color: var(--s-color-base-content-quaternary);
          }
        }
        .el-range-separator {
          color: var(--s-color-base-content-quaternary);
        }
      }
      .s-icon-chevron-bottom {
        color: var(--s-color-base-content-quaternary);
      }
    }
  }
}
.el-picker-panel__icon-btn,
.el-date-picker__header-label,
.el-date-table td,
.el-date-table th,
.el-picker-panel__link-btn,
.el-time-panel__btn,
.el-date-range-picker__time-header > .el-icon-arrow-right,
.el-year-table td .cell,
.el-month-table td .cell {
  color: var(--s-color-base-content-primary);
}
.el-picker-panel__icon-btn:hover,
.el-date-picker__header-label:hover,
.el-year-table td.today .cell,
.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell,
.el-month-table td.today .cell,
.el-month-table td.current:not(.disabled) .cell,
.el-month-table td .cell:hover,
.el-picker-panel__shortcut:hover {
  color: var(--s-color-theme-accent);
}
.el-picker-panel {
  border-color: var(--s-color-base-background-hover);
  .el-picker-panel__content {
    .el-date-table {
      td {
        &.available:hover,
        &.today span {
          color: var(--s-color-theme-accent);
        }
        &.next-month,
        &.prev-month {
          color: var(--s-color-base-content-quaternary);
        }
        &.current:not(.disabled),
        &.selected,
        &.start-date,
        &.end-date {
          span {
            background-color: var(--s-color-theme-accent);
            color: var(--s-color-utility-surface);
          }
        }
      }
      th {
        border-bottom-color: var(--s-color-base-background-hover);
      }
    }
    .el-month-table td {
      &.start-date,
      &.end-date {
        .cell {
          background-color: var(--s-color-theme-accent);
          color: var(--s-color-utility-surface);
        }
      }
    }
  }
  .el-picker-panel__footer {
    border-top-color: var(--s-color-base-background-hover);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    > .el-button {
      height: 32px;
      border-radius: var(--s-border-radius-mini);
      &:hover,
      &:focus {
        color: var(--s-color-theme-accent);
      }
      &.is-plain {
        &:hover,
        &:focus {
          border-color: var(--s-color-theme-accent);
        }
      }
    }
  }
  div[x-arrow].popper__arrow {
    border-bottom-color: var(--s-color-base-background-hover);
  }
}
.el-time-panel {
  border-color: var(--s-color-base-background-hover);
  .el-time-panel__footer {
    border-top-color: var(--s-color-base-background-hover);
    .confirm {
      color: var(--s-color-theme-accent);
    }
  }
  .el-time-spinner__item {
    &.active:not(.disabled) {
      color: var(--s-color-base-content-primary);
    }
    &:hover:not(.disabled):not(.active) {
      background-color: var(--s-color-base-background);
    }
  }
  .el-time-panel__content {
    &::after,
    &::before {
      border-top-color: var(--s-color-base-background-hover);
      border-bottom-color: var(--s-color-base-background-hover);
    }
  }
}
.el-date-table.is-week-mode .el-date-table__row {
  &.current,
  &:hover {
    div {
      background-color: var(--s-color-base-background-hover);
    }
  }
}
.el-month-table td.in-range div {
  background-color: var(--s-color-base-background-hover);
  &:hover {
    background-color: var(--s-color-base-background-hover);
  }
}
.el-date-table td.in-range div {
  background-color: var(--s-color-base-background-hover);
  &:hover {
    background-color: var(--s-color-base-background-hover);
  }
}
.el-date-range-picker__content.is-left {
  border-right-color: var(--s-color-base-background-hover);
}
