@import "./variables";

.s-date-picker {
  font-family: $font-family-default;
  width: 100%;
  position: relative;
  .el-date-editor {
    width: 100%;
    &.el-input, &.el-input__inner {
      width: 100%;
    }
    .el-range-separator {
      color: $s-color-neutral-tertiary;
    }
    .el-input__inner, .el-range-input {
      &::placeholder {
        color: $s-color-neutral-secondary;
        opacity: 1; // Firefox
      }
    }
    &.is-active {
      border-color: $s-color-neutral-border;
    }
  }
  &.s-has-value {
    .el-date-editor .el-range-separator {
      color: $s-color-basic-black;
    }
  }
  &.s-input-type {
    min-height: $s-size-big;
    .el-input__inner {
      height: $s-size-big;
      padding: 0 15px;
      border: 1px solid $s-color-neutral-placeholder;
      background-color: $s-color-neutral-placeholder;
    }
    &:hover {
      .el-input__inner {
        border-color: $s-color-neutral-hover;
      }
      .el-input__inner, .s-placeholder {
        background-color: $s-color-neutral-hover;
      }
    }
    .s-placeholder + .el-date-editor {
      > .el-input__inner {
        padding-top: 12px;
      }
      .el-input__validateIcon {
        padding-top: 11px;
      }
    }
    &.s-focused {
      .el-input__inner {
        border-color: $s-color-neutral-border;
      }
      .el-input__inner, .s-placeholder {
        background-color: $s-color-basic-white;
      }
    }
    &.s-disabled {
      .el-input__inner {
        border-color: $s-color-neutral-border;
      }
      .el-input__inner, .s-placeholder {
        color: $s-color-neutral-secondary;
        background-color: $s-color-neutral-placeholder;
      }
    }
  }
  .s-placeholder {
    // TODO: add default animation from material-ui
    color: $s-color-neutral-secondary;
    text-align: left;
    font-size: 12px;
    padding: 0 15px;
    padding-top: 5px;
    top: 1px;
    left: 1px;
    border-top-left-radius: 4px;
    position: absolute;
    z-index: 1;
    width: calc(100% - 15px);
    background-color: $s-color-neutral-placeholder;
    pointer-events: none;
  }
  &.s-select-type {
    .el-date-editor {
      .el-input__inner, .el-range-input, .el-range-separator {
        font-weight: bold;
      }
      &.el-input__inner, & .el-input__inner {
        border-radius: 8px;
        padding-left: 12px;
        &:hover {
          border-color: $s-color-neutral-inactive;
        }
        &::placeholder, .el-range-input::placeholder {
          color: $s-color-neutral-tertiary;
          font-weight: bold;
        }
      }
    }
    .s-icon-chevron-bottom {
      position: absolute;
      right: 10px;
      top: 30%;
      pointer-events: none;
      color: $s-color-neutral-tertiary;
      transition: transform .3s;
    }
    &.s-focused {
      .el-date-editor.el-input__inner,
      .el-date-editor .el-input__inner {
        border-color: $s-color-neutral-inactive;
      }
      &:not(.disabled) .s-icon-chevron-bottom {
        transform: rotate(180deg);
      }
    }
    &.s-has-value {
      .s-icon-chevron-bottom {
        color: $s-color-basic-black;
      }
    }
    &.s-disabled {
      .el-date-editor.el-input__inner,
      .el-date-editor .el-input__inner {
        color: $s-color-neutral-inactive;
        border-color: $s-color-neutral-border;
        background-color: $s-color-basic-white;
        &::placeholder {
          color: $s-color-neutral-inactive;
        }
        .el-range-input {
          background-color: $s-color-basic-white;
          color: $s-color-neutral-inactive;
          &::placeholder {
            color: $s-color-neutral-inactive;
          }
        }
        .el-range-separator {
          color: $s-color-neutral-inactive;
        }
      }
      .s-icon-chevron-bottom {
        color: $s-color-neutral-inactive;
      }
    }
  }
}
.el-picker-panel__icon-btn,
.el-date-picker__header-label,
.el-date-table td,
.el-date-table th,
.el-picker-panel__link-btn,
.el-time-panel__btn,
.el-date-range-picker__time-header > .el-icon-arrow-right {
  color: $s-color-basic-black;
}
.el-picker-panel {
  border-color: $s-color-neutral-hover;
  .el-picker-panel__content {
    .el-date-table {
      td {
        &.available:hover {
          color: $s-color-main-brand;
        }
        &.next-month, &.prev-month {
          color: $s-color-neutral-inactive;
        }
      }
      th {
        border-bottom-color: $s-color-neutral-hover;
      }
    }
  }
  .el-picker-panel__footer {
    border-top-color: $s-color-neutral-hover;
    > .el-button {
      height: 32px;
      border-radius: 4px;
    }
  }
  div[x-arrow].popper__arrow {
    border-bottom-color: $s-color-neutral-hover;
  }
}
.el-time-panel {
  border-radius: 4px;
  border-color: $s-color-neutral-hover;
  .el-time-panel__footer {
    border-top-color: $s-color-neutral-hover;
  }
  .el-time-spinner__item {
    &.active:not(.disabled) {
      color: $s-color-basic-black;
    }
    &:hover:not(.disabled):not(.active) {
      background-color: $s-color-neutral-placeholder;
    }
  }
  .el-time-panel__content {
    &::after, &::before {
      border-top-color: $s-color-neutral-hover;
      border-bottom-color: $s-color-neutral-hover;
    }
  }
}
.el-date-table.is-week-mode .el-date-table__row {
  &.current, &:hover {
    div {
      background-color: $s-color-main-hover-light;
    }
  }
}
.el-month-table td.in-range div {
  background-color: $s-color-main-hover-light;
  &:hover {
    background-color: $s-color-main-hover-light;
  }
}
.el-date-table td.in-range div {
  background-color: $s-color-main-hover-light;
  &:hover {
    background-color: $s-color-main-hover-light;
  }
}
.el-date-range-picker__content.is-left {
  border-right-color: $s-color-neutral-hover;
}
