.el-dialog {
  &__wrapper {
    &.s-border-radius {
      &-big,
      &-medium,
      &-small,
      &-mini {
        border-radius: 0;
      }
    }
  }
  .s-border-radius-big & {
    border-radius: var(--s-border-radius-big);
  }
  .s-border-radius-medium & {
    border-radius: var(--s-border-radius-medium);
  }
  .s-border-radius-small & {
    border-radius: var(--s-border-radius-small);
  }
  .s-border-radius-mini & {
    border-radius: var(--s-border-radius-mini);
  }
  .el-dialog__title {
    font-weight: bold;
    font-size: var(--s-heading5-font-size);
    color: var(--s-color-base-content-primary);
  }
  > * {
    word-break: break-word;
  }
  .el-dialog__body {
    color: var(--s-color-base-content-primary);
  }
}
.v-modal {
  background-color: var(--s-color-utility-overlay);
  opacity: 1;
}
