@import "./variables";

.el-dialog {
  border-radius: 8px;
  .el-dialog__title {
    font-weight: bold;
    font-size: 16px;
    color: var(--s-color-base-content-primary);
  }
  > * {
    word-break: break-word;
  }
  .el-dialog__body {
    color: var(--s-color-base-content-primary);
  }
}
