.el-divider {
  &--horizontal {
    margin: 20px 0;
  }
  &__text {
    color: var(--s-color-base-content-primary);
    background-color: var(--s-color-utility-body);
  }
}
.s-divider {
  &-primary {
    background-color: var(--s-color-base-border-primary);
  }
  &-secondary {
    background-color: var(--s-color-base-border-secondary);
  }
}
