.el-divider--horizontal {
  margin: 20px 0;
}
.s-divider {
  &-primary {
    background-color: var(--s-color-base-border-primary);
  }
  &-secondary {
    background-color: var(--s-color-base-border-secondary);
  }
}
