@import "./variables";

@mixin dropdown-border-radius(
  $suffix: "big",
  $border-radius: var(--s-border-radius-big)
) {
  &.s-border-radius {
    &-#{$suffix} {
      border-radius: 0;
      .el-button {
        border-radius: $border-radius;
      }
    }
  }
}

.el-dropdown {
  color: var(--s-color-base-content-primary);
  @include dropdown-border-radius;
  @include dropdown-border-radius("medium", var(--s-border-radius-medium));
  @include dropdown-border-radius("small", var(--s-border-radius-small));
  @include dropdown-border-radius("mini", var(--s-border-radius-mini));
  > .el-button-group {
    > .el-button {
      float: left;
    }
    .el-dropdown__caret-button {
      &.s-secondary {
        &::before {
          background-color: var(--s-color-base-border-primary);
        }
        &:hover, &:active, &:focus {
          &::before {
            background-color: var(--s-color-theme-accent);
          }
        }
      }
      &.s-tertiary, &.s-link {
        &::before {
          background-color: transparent;
        }
        &:hover, &:active, &:focus {
          &::before {
            background-color: transparent;
          }
        }
      }
    }
  }
  > i {
    cursor: pointer;
  }
  .s-icon-more-horizontal {
    font-size: 24px;
  }
}
.el-dropdown-menu__item {
  color: var(--s-color-base-content-primary);
  &:not(.is-disabled) {
    &:hover, &:focus {
      background-color: var(--s-color-base-background-hover);
      color: var(--s-color-base-content-primary);
    }
  }
  &.is-disabled {
    color: var(--s-color-base-content-quaternary);
  }
}
