@import "./variables";

.el-dropdown {
  color: var(--s-color-basic-black);
  > .el-button-group {
    > .el-button {
      float: left;
    }
    .el-dropdown__caret-button {
      &.s-secondary {
        &::before {
          background-color: var(--s-color-neutral-border);
        }
        &:hover, &:active, &:focus {
          &::before {
            background-color: var(--s-color-main-brand);
          }
        }
      }
      &.s-tertiary, &.s-link {
        &::before {
          background-color: transparent;
        }
        &:hover, &:active, &:focus {
          &::before {
            background-color: transparent;
          }
        }
      }
    }
  }
  > i {
    cursor: pointer;
  }
  .s-icon-more-horizontal {
    font-size: 24px;
  }
}
.el-dropdown-menu__item {
  color: var(--s-color-basic-black);
  &:not(.is-disabled) {
    &:hover, &:focus {
      background-color: var(--s-color-neutral-placeholder);
      color: var(--s-color-basic-black);
    }
  }
  &.is-disabled {
    color: var(--s-color-neutral-inactive);
  }
}
