$--color-primary: $s-color-theme-accent;
$--color-danger: $s-color-status-error;
$--color-success: $s-color-status-success;
$--color-warning: $s-color-status-warning;
$--border-color-base: $s-color-base-border-primary;
$--color-text-regular: $s-color-base-content-primary;

/* Menu
--------------------------*/
// $--menu-background-color: $transparent;
// $--menu-item-hover-fill: $s-color-base-on-accent;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts" !default;

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
