@import "./variables.scss";

$--color-primary: $color-main-brand;
$--color-danger: $color-error;
$--border-color-base: $color-neutral-border;
$--color-text-regular: $color-basic-black;

/* Menu
--------------------------*/
// $--menu-background-color: $transparent;
// $--menu-item-hover-fill: $color-basic-white;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
