@font-face {
  font-family: "soramitsu-icons";
  src: url(#{$s-font-family-icons-path}) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Sora";
  src: url(#{$s-font-family-default-path}) format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url(#{$s-font-family-mono-path});
  font-weight: normal;
  font-style: normal;
}
