.el-form-item {
  margin-bottom: 12px;
  &__content {
    line-height: 20px;
    > button {
      width: 100%;
    }
  }
  &__label {
    color: var(--s-color-base-content-primary);
  }
  &.is-error {
    &.with-message {
      margin-bottom: 0;
    }
    > .el-form-item__content {
      > .el-form-item__error {
        margin-bottom: 6px;
        position: relative;
        padding-top: 8px;
        padding-left: 30px;
        color: var(--s-color-base-content-primary);
        &::before {
          content: '';
        }
      }
      > [class^="s-input"]:not(.s-disabled) {
        border-color: var(--s-color-status-error);
        background-color: var(--s-color-status-error-background);

        [design-system-theme="dark"] & {
          background-color: var(--s-color-base-background);
        }

        .s-placeholder {
          color: var(--s-color-status-error);
        }

        input, textarea {
          &::placeholder {
            color: var(--s-color-status-error);
          }
        }

        &.s-focused {
          background-color: var(--s-color-base-on-accent);
        }
      }
    }
    .s-icon-status-error {
      position: absolute;
      bottom: 4px;
      left: 4px;
      font-size: var(--s-icon-font-size-mini);
      color: var(--s-color-status-error);
    }
    .el-input__inner,
    .el-input__inner:focus,
    .el-textarea__inner,
    .el-textarea__inner:focus {
      border-color: var(--s-color-status-error);
    }
  }
}
