@import "./variables";

.el-form-item {
  margin-bottom: 26px;
  &__content {
    line-height: 20px;
    > button {
      width: 100%;
    }
  }
  &.is-error {
    margin-bottom: 6px;
    > .el-form-item__content {
      > .el-form-item__error {
        position: relative;
        padding-top: 8px;
        padding-left: 30px;
        color: $s-color-basic-black;
        &::before {
          content: '';
        }
      }
      > [class^="s-input"]:not(.disabled) {
        .placeholder {
          color: $s-color-error;
          background-color: $s-color-main-base;
        }
        input, textarea {
          background-color: $s-color-main-base;
          &::placeholder {
            color: $s-color-error;
          }
        }
        &:hover {
          .placeholder,
          .el-input > input,
          .el-textarea > textarea {
            background-color: $s-color-main-hover-light;
          }
          .el-input > input,
          .el-textarea > textarea {
            border-color: $s-color-error;
          }
        }
        &.focused {
          .placeholder,
          .el-input > input,
          .el-textarea > textarea {
            background-color: $s-color-basic-white;
          }
          .el-input > input,
          .el-textarea > textarea {
            border-color: $s-color-error;
          }
        }
      }
    }
    .s-icon-error {
      position: absolute;
      bottom: 0;
      left: 4px;
      font-size: 16px;
      color: $s-color-error;
    }
  }
}
