/* TODO: fix icons due to external usage */
.s-icon- {
  &refresh {
    position: absolute;
    background-image: url('~@/assets/icons/refresh.svg');
    width: 16px;
    height: 16px;
  }

  &plus-small {
    position: absolute;
    background-image: url('~@/assets/icons/plus.svg');
    background-size: contain;
    width: 12px;
    height: 12px;
    top: -6px;
    left: -6px;
  }

  &back {
    position: absolute;
    background-image: url('~@/assets/icons/arrow-left.svg');
    width: 20px;
    height: 20px;
  }

  &back-small {
    position: absolute;
    background-image: url('~@/assets/icons/arrow-left.svg');
    background-size: contain;
    width: 12px;
    height: 12px;
    top: -6px;
    left: -6px;
  }

  &globe {
    background-image: url('~@/assets/icons/globe.svg');
    width: 20px;
    height: 20px;
  }

  &activity {
    background-image: url('~@/assets/icons/activity.svg');
    width: 20px;
    height: 20px;
  }

  &logout {
    background-image: url('~@/assets/icons/log-out.svg');
    width: 20px;
    height: 20px;
  }

  &error {
    background-image: url('~@/assets/icons/warning.svg');
    background-repeat: no-repeat;
    background-position: 2px center;
  }
}
