@import "./common";

$box-shadow-layout: 0px 0px 8px rgba(45, 41, 38, 0.2);
$font-size-layout: 18px;

.s-app {
  height: 100%;
}
.s-header {
  padding: 12px;
  box-shadow: $box-shadow-layout;
  font-size: $font-size-layout;
  z-index: 1;
}
.s-footer {
  padding: 16px;
  box-shadow: $box-shadow-layout;
  font-size: $font-size-layout;
}
.s-main {
  padding: 32px;
}
.s-row {
  position: relative;
  box-sizing: border-box;
  @include utils-clearfix;
}
.row-{
  &flex {
    display: flex;
    &:before,
    &:after {
      display: none;
    }
  }
}
[class*="s-col-"] {
  float: left;
  box-sizing: border-box;
}
.s-col-0 {
  display: none;
}
@for $i from 0 through 12 {
  .s-col-#{$i} {
    width: (1 / 12 * $i * 100) * 1%;
  }
  .s-col-offset-#{$i} {
    margin-left: (1 / 12 * $i * 100) * 1%;
  }
  .s-col-pull-#{$i} {
    position: relative;
    right: (1 / 12 * $i * 100) * 1%;
  }
  .s-col-push-#{$i} {
    position: relative;
    left: (1 / 12 * $i * 100) * 1%;
  }
}
@include res(xs) {
  .s-col-xs-0 {
    display: none;
  }
  @for $i from 0 through 12 {
    .s-col-xs-#{$i} {
      width: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-xs-offset-#{$i} {
      margin-left: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-xs-pull-#{$i} {
      position: relative;
      right: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-xs-push-#{$i} {
      position: relative;
      left: (1 / 12 * $i * 100) * 1%;
    }
  }
}
@include res(sm) {
  .s-col-sm-0 {
    display: none;
  }
  @for $i from 0 through 12 {
    .s-col-sm-#{$i} {
      width: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-sm-offset-#{$i} {
      margin-left: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-sm-pull-#{$i} {
      position: relative;
      right: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-sm-push-#{$i} {
      position: relative;
      left: (1 / 12 * $i * 100) * 1%;
    }
  }
}
@include res(md) {
  .s-col-md-0 {
    display: none;
  }
  @for $i from 0 through 12 {
    .s-col-md-#{$i} {
      width: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-md-offset-#{$i} {
      margin-left: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-md-pull-#{$i} {
      position: relative;
      right: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-md-push-#{$i} {
      position: relative;
      left: (1 / 12 * $i * 100) * 1%;
    }
  }
}
@include res(lg) {
  .s-col-lg-0 {
    display: none;
  }
  @for $i from 0 through 12 {
    .s-col-lg-#{$i} {
      width: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-lg-offset-#{$i} {
      margin-left: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-lg-pull-#{$i} {
      position: relative;
      right: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-lg-push-#{$i} {
      position: relative;
      left: (1 / 12 * $i * 100) * 1%;
    }
  }
}
@include res(xl) {
  .s-col-xl-0 {
    display: none;
  }
  @for $i from 0 through 12 {
    .s-col-xl-#{$i} {
      width: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-xl-offset-#{$i} {
      margin-left: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-xl-pull-#{$i} {
      position: relative;
      right: (1 / 12 * $i * 100) * 1%;
    }
    .s-col-xl-push-#{$i} {
      position: relative;
      left: (1 / 12 * $i * 100) * 1%;
    }
  }
}
