$margin-bottom-menu-item: 8px;

@mixin menu-border-radius(
  $suffix: "big",
  $border-radius: var(--s-border-radius-big)
) {
  &.s-border-radius {
    &-#{$suffix} {
      border-radius: 0;
      .el-menu-item,
      .el-submenu__title {
        border-radius: $border-radius;
      }
    }
  }
}

.s-menu {
  border-right: none;
  box-shadow: var(--s-menu-box-shadow);
  padding: 20px 12px;
  @include menu-border-radius;
  @include menu-border-radius("medium", var(--s-border-radius-medium));
  @include menu-border-radius("small", var(--s-border-radius-small));
  @include menu-border-radius("mini", var(--s-border-radius-mini));
  &:not(.el-menu--horizontal) > :not(:last-child) {
    margin-bottom: $margin-bottom-menu-item;
  }
  &.el-menu--horizontal {
    border-bottom: none;
    > :not(:last-child) {
      margin-right: $margin-bottom-menu-item;
    }
  }
}
.el-menu--horizontal > .el-menu-item {
  &,
  &.is-active {
    border-bottom: none;
  }
}
.el-menu-item {
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  &:not(.is-disabled):hover,
  &.is-active {
    background-color: var(--s-menu-color-hover) !important;
    i {
      color: var(--s-menu-text-color-active);
    }
  }
  [class^="s-icon-"] {
    margin-right: 12px;
    font-size: var(--s-icon-font-size-medium);
  }
  i {
    color: var(--s-menu-text-color);
  }
}
.el-menu-item-group > ul > .el-menu-item:not(:last-child),
.el-menu-item-group__title {
  margin-bottom: $margin-bottom-menu-item;
}
.s-menu:not(.el-menu--horizontal) .is-opened .el-submenu__title {
  margin-bottom: $margin-bottom-menu-item;
}
.el-submenu {
  user-select: none;
  -webkit-user-select: none;
  .el-menu-item {
    min-width: 0;
  }
  &.is-opened > .el-menu > :not(:last-child) {
    margin-bottom: $margin-bottom-menu-item;
  }
}
.el-submenu__title {
  display: flex;
  align-items: center;
  [class^="s-icon-"] {
    margin-right: 12px;
    font-size: var(--s-icon-font-size-medium);
  }
  i {
    color: var(--s-menu-text-color);
  }
  .is-active > & {
    border-bottom-color: transparent !important;
    background-color: var(--s-menu-color-hover) !important;
    i {
      color: var(--s-menu-text-color-active);
    }
  }
  &:not(.is-disabled):hover {
    background-color: var(--s-menu-color-hover) !important;
  }
}
