@import "./variables";

.el-pagination {
  .btn-prev, .btn-next {
    color: $s-color-basic-black;
  }
  button:disabled {
    color: $s-color-neutral-inactive;
  }
  .el-pagination__sizes {
    .el-select .el-input {
      width: 65px;
      .el-select__caret, .el-input__inner {
        color: $s-color-basic-black;
        font-weight: bold;
      }
      .el-select__caret {
        margin-right: 6px;
      }
      .el-input__inner {
        border-radius: 8px;
        padding-right: 20px;
        padding-left: 5px;
        background-color: $s-color-neutral-placeholder;
        border-color: $s-color-neutral-placeholder;
      }
      &.is-disabled {
        .el-select__caret, .el-input__inner {
          color: $s-color-neutral-inactive;
        }
      }
    }
  }
  .el-pagination__editor.el-input {
    .el-input__inner {
      border-radius: 8px;
      background-color: $s-color-neutral-placeholder;
      border-color: $s-color-neutral-placeholder;
      color: $s-color-basic-black;
    }
    &.is-disabled .el-input__inner {
      color: $s-color-neutral-inactive;
    }
  }
  .el-pagination__total, .per-page-text, .el-pagination__jump {
    color: $s-color-neutral-secondary;
    font-weight: normal;
  }
  .el-pager li {
    color: $s-color-basic-black;
    &.btn-quicknext, &.btn-quickprev {
      color: $s-color-basic-black;
    }
    &:not(.disabled) {
      &:hover, &.active {
        color: $s-color-main-brand;
      }
    }
    &.disabled {
      color: $s-color-neutral-inactive;
    }
  }
  &.is-background {
    .el-pager li {
      background-color: $s-color-neutral-placeholder;
      &.disabled {
        color: $s-color-neutral-inactive;
      }
    }
    .btn-prev, .btn-next {
      background-color: $s-color-neutral-placeholder;
      &:disabled {
        color: $s-color-neutral-inactive;
        background-color: $s-color-neutral-placeholder;
      }
      &:not(:disabled):hover {
        color: $s-color-main-brand;
      }
    }
  }
  &.el-pagination--small {
    .el-pagination__editor {
      height: 22px;
    }
    .el-pagination__sizes .el-select .el-input {
      .el-input__inner {
        height: 22px !important;
        font-size: 12px;
      }
      .el-select__caret {
        font-size: 12px;
        line-height: 23px;
      }
    }
  }
}
