@import "./variables";

.el-pagination {
  &.is-background .el-pager li:not(.disabled) {
    &.active {
      background-color: var(--s-color-theme-accent);
      color: var(--s-color-base-on-accent);
    }
    &:hover {
      color: var(--s-color-theme-accent);
    }
  }
  .btn-prev, .btn-next {
    color: var(--s-color-base-content-primary);
  }
  button {
    &:hover {
      color: var(--s-color-theme-accent);
    }
    &:disabled {
      color: var(--s-color-base-content-quaternary);
    }
  }
  .el-pagination__sizes {
    .el-select .el-input {
      width: 65px;
      .el-select__caret, .el-input__inner {
        color: var(--s-color-base-content-primary);
        font-weight: bold;
      }
      .el-select__caret {
        margin-right: 6px;
      }
      .el-input__inner {
        border-radius: 8px;
        padding-right: 20px;
        padding-left: 5px;
        background-color: var(--s-color-base-background);
        border-color: var(--s-color-base-background);
      }
      &.is-disabled {
        .el-select__caret, .el-input__inner {
          color: var(--s-color-base-content-quaternary);
        }
      }
    }
  }
  .el-pagination__editor.el-input {
    .el-input__inner {
      border-radius: 8px;
      background-color: var(--s-color-base-background);
      border-color: var(--s-color-base-background);
      color: var(--s-color-base-content-primary);
    }
    &.is-disabled .el-input__inner {
      color: var(--s-color-base-content-quaternary);
    }
  }
  .el-pagination__total, .per-page-text, .el-pagination__jump {
    color: var(--s-color-base-content-tertiary);
    font-weight: normal;
  }
  .el-pager li {
    color: var(--s-color-base-content-primary);
    &.btn-quicknext, &.btn-quickprev {
      color: var(--s-color-base-content-primary);
    }
    &:not(.disabled) {
      &:hover, &.active {
        color: var(--s-color-theme-accent);
      }
    }
    &.disabled {
      color: var(--s-color-base-content-quaternary);
    }
  }
  &.is-background {
    .el-pager li {
      background-color: var(--s-color-base-background);
      &.disabled {
        color: var(--s-color-base-content-quaternary);
      }
    }
    .btn-prev, .btn-next {
      background-color: var(--s-color-base-background);
      &:disabled {
        color: var(--s-color-base-content-quaternary);
        background-color: var(--s-color-base-background);
      }
      &:not(:disabled):hover {
        color: var(--s-color-theme-accent);
      }
    }
  }
  &.el-pagination--small {
    .el-pagination__editor {
      height: 22px;
    }
    .el-pagination__sizes .el-select .el-input {
      .el-input__inner {
        height: 22px !important;
        font-size: 12px;
      }
      .el-select__caret {
        font-size: 12px;
        line-height: 23px;
      }
    }
  }
}
.el-select-dropdown__item.selected {
  color: var(--s-color-theme-accent);
}
