$radio-button-class: ".el-radio-button";
$radio-button-border-width: 1px;
$radio-button-border-color: var(--s-color-theme-accent);
$radio-button-font-size: var(--s-font-size-small);
$radio-button-line-height: var(--s-line-height-big);
$radio-small-label-font-size: var(--s-font-size-mini);

@mixin radio-button-size(
  $modifier: "small",
  $size: $s-size-small,
  $font-size: var(--s-font-size-mini)
) {
  $radio-button-vertical-padding: #{($size - $font-size) / 2 - $radio-button-border-width};
  #{$radio-button-class} {
    &--#{$modifier} {
      height: $size;
      line-height: $size;
      #{$radio-button-class}__inner {
        padding-top: $radio-button-vertical-padding;
        padding-bottom: $radio-button-vertical-padding;
        font-size: $font-size;
      }
    }
  }
}

@mixin radio-button-vertical-padding(
  $size: 'small',
  $font-size: $radio-button-font-size,
  $line-height: $radio-button-line-height
) {
  $vertical-padding: calc(calc(var(--s-size-#{$size}) - #{$font-size} * #{$line-height} - #{$radio-button-border-width * 2}) / 2);
  &.is-bordered {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }
}

.el-radio {
  color: var(--s-color-base-content-primary);
  &__label {
    line-height: $radio-button-line-height;
  }
  &.s-big {
    @extend .s-big;
    line-height: $s-size-big;
    @include radio-button-vertical-padding('big');
    > .el-radio__input .el-radio__inner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      &::after {
        width: 10px;
        height: 10px;
      }
    }
  }
  &.s-medium {
    @extend .s-medium;
    line-height: $s-size-medium;
    @include radio-button-vertical-padding('medium');
    > .el-radio__input .el-radio__inner {
      width: 16px;
      height: 16px;
      border-width: 2px;
      &::after {
        width: 8px;
        height: 8px;
      }
    }
  }
  &.s-small,
  &.s-mini {
    > .el-radio__label {
      font-size: $radio-small-label-font-size;
    }
    > .el-radio__input .el-radio__inner {
      width: 14px;
      height: 14px;
      border-width: 2px;
      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }
  &.s-small {
    @extend .s-small;
    line-height: $s-size-small;
    @include radio-button-vertical-padding($font-size: $radio-small-label-font-size);
  }
  &.s-mini {
    height: var(--s-size-mini);
    @include radio-button-vertical-padding('mini');
  }
  &.is-bordered {
    border-color: var(--s-color-base-border-primary);
    line-height: 0;
    &.is-checked {
      border-color: var(--s-color-theme-accent);
    }
    &.is-disabled {
      border-color: var(--s-color-base-border-primary);
    }
  }
  > .el-radio__input {
    .el-radio__inner {
      border-color: var(--s-color-base-border-primary);
      background-color: var(--s-color-utility-surface);
      &:hover {
        border-color: var(--s-color-theme-accent);
      }
      &::after {
        background-color: var(--s-color-theme-accent);
      }
    }
    &.is-checked {
      .el-radio__inner {
        background-color: var(--s-color-utility-surface);
        border-color: var(--s-color-theme-accent);
      }
      + .el-radio__label {
        color: var(--s-color-theme-accent);
      }
    }
    &.is-disabled {
      .el-radio__inner {
        background-color: var(--ss-color-base-background);
        border-color: var(--s-color-base-on-disabled);
      }
      &.is-checked .el-radio__inner {
        background-color: var(--s-color-base-background);
        border-color: var(--s-color-base-on-disabled);
        &::after {
          background-color: var(--s-color-base-on-disabled);
        }
      }
      & + span.el-radio__label {
        color: var(--s-color-base-on-disabled);
      }
    }
  }
  &-button {
    &:hover {
      #{$radio-button-class}__inner {
        border-color: $radio-button-border-color;
        color: var(--s-color-theme-accent);
      }
      &:not(:first-child):not(.is-disabled) {
        #{$radio-button-class}__inner {
          &:before {
            opacity: 1;
            background-color: var(--s-color-theme-accent-hover);
          }
        }
      }
    }
    &:not(:first-child):not(.is-disabled) {
      #{$radio-button-class}__inner {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          display: block;
          opacity: 0;
          background-color: $radio-button-border-color;
          height: calc(100% + #{$radio-button-border-width * 2});
          width: $radio-button-border-width;
          left: -#{$radio-button-border-width};
          top: -#{$radio-button-border-width};
          transition: inherit;
          transition-property: opacity;
        }
      }
    }
    &.is-disabled {
      #{$radio-button-class}__inner {
        color: var(--s-color-base-on-disabled);
      }
    }
    &.is-disabled,
    &.is-disabled:hover {
      #{$radio-button-class}__inner {
        border-color: var(--s-color-base-on-disabled);
      }
    }
    &.is-active {
      &:hover {
        #{$radio-button-class}__inner {
          background-color: var(--s-color-theme-accent-hover);
          border-color: var(--s-color-theme-accent-hover);
        }
      }
      &.is-disabled {
        #{$radio-button-class}__inner {
          color: var(--s-color-utility-surface);
        }
      }
      &.is-disabled,
      &.is-disabled:hover {
        #{$radio-button-class}__inner {
          background-color: var(--s-color-base-on-disabled);
          border-color: var(--s-color-base-on-disabled);
        }
      }
    }
  }
  &-group {
    @include radio-button-size;
    @include radio-button-size("medium", $s-size-medium, var(--s-font-size-small));
    @include radio-button-size("big", $s-size-big, var(--s-font-size-small));
    #{$radio-button-class} {
      &__inner {
        background-color: var(--s-color-utility-surface);
        border-color: var(--s-color-base-border-primary);
        color: var(--s-color-base-content-primary);
      }
      #{$radio-button-class}__inner {
        box-shadow: none;
      }
    }
    .is-disabled #{$radio-button-class}__inner {
      background-color: var(--s-color-utility-surface);
    }
    .is-active #{$radio-button-class}__inner {
      background-color: var(--s-color-theme-accent);
      border-color: var(--s-color-theme-accent);
      color: var(--s-color-utility-surface);
    }
  }
}
