@import "./variables";
@import "./common";

.el-radio {
  color: var(--s-color-base-content-primary);
  &.s-big {
    @extend .s-big;
    line-height: $s-size-big;
    &.is-bordered {
      padding-top: 18px;
    }
    > .el-radio__input .el-radio__inner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      &::after {
        width: 10px;
        height: 10px;
      }
    }
  }
  &.s-medium {
    @extend .s-medium;
    line-height: $s-size-medium;
    > .el-radio__input .el-radio__inner {
      width: 16px;
      height: 16px;
      border-width: 2px;
      &::after {
        width: 8px;
        height: 8px;
      }
    }
  }
  &.s-small {
    @extend .s-small;
    line-height: $s-size-small;
    &.is-bordered {
      padding-top: 9px;
    }
    > .el-radio__label {
      font-size: 12px;
    }
    > .el-radio__input .el-radio__inner {
      width: 14px;
      height: 14px;
      border-width: 2px;
      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }
  &.is-bordered {
    border-color: var(--s-color-base-border-primary);
    line-height: 0;
    &.is-checked {
      border-color: var(--s-color-theme-accent);
    }
    &.is-disabled {
      border-color: var(--s-color-base-border-primary);
    }
  }
  > .el-radio__input {
    .el-radio__inner {
      border-color: var(--s-color-base-border-primary);
      background-color: var(--s-color-utility-surface);
      &:hover {
        border-color: var(--s-color-theme-accent);
      }
      &::after {
        background-color: var(--s-color-theme-accent);
      }
    }
    &.is-checked {
      .el-radio__inner {
        background-color: var(--s-color-utility-surface);
        border-color: var(--s-color-theme-accent);
      }
      + .el-radio__label {
        color: var(--s-color-theme-accent);
      }
    }
    &.is-disabled {
      .el-radio__inner {
        background-color: var(--ss-color-base-background);
        border-color: var(--s-color-base-border-primary);
      }
      &.is-checked .el-radio__inner {
        background-color: var(--s-color-base-background);
        border-color: var(--s-color-base-border-primary);
        &::after {
          background-color: var(--s-color-base-content-quaternary);
        }
      }
      & + span.el-radio__label {
        color: var(--s-color-base-content-quaternary);
      }
    }
  }
}
