@import "./variables";
@import "./common";

$radio-button-border-width: 1px;
$radio-button-class: ".el-radio-button";

@mixin radio-button-size(
  $modifier: "small",
  $size: $s-size-small,
  $font-size: $s-font-size-small
) {
  $radio-button-vertical-padding: #{($size - $font-size) / 2 - $radio-button-border-width};
  #{$radio-button-class} {
    &--#{$modifier} {
      height: $size;
      line-height: $size;
      #{$radio-button-class}__inner {
        padding-top: $radio-button-vertical-padding;
        padding-bottom: $radio-button-vertical-padding;
        font-size: $font-size;
      }
    }
  }
}

.el-radio {
  color: var(--s-color-basic-black);
  &.s-big {
    @extend .s-big;
    line-height: $s-size-big;
    &.is-bordered {
      padding-top: 18px;
    }
    > .el-radio__input .el-radio__inner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      &::after {
        width: 10px;
        height: 10px;
      }
    }
  }
  &.s-medium {
    @extend .s-medium;
    line-height: $s-size-medium;
    > .el-radio__input .el-radio__inner {
      width: 16px;
      height: 16px;
      border-width: 2px;
      &::after {
        width: 8px;
        height: 8px;
      }
    }
  }
  &.s-small {
    @extend .s-small;
    line-height: $s-size-small;
    &.is-bordered {
      padding-top: 9px;
    }
    > .el-radio__label {
      font-size: 12px;
    }
    > .el-radio__input .el-radio__inner {
      width: 14px;
      height: 14px;
      border-width: 2px;
      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }
  &.is-bordered {
    border-color: var(--s-color-neutral-border);
    line-height: 0;
    &.is-checked {
      border-color: var(--s-color-main-brand);
    }
    &.is-disabled {
      border-color: var(--s-color-neutral-border);
    }
  }
  > .el-radio__input {
    .el-radio__inner {
      border-color: var(--s-color-neutral-border);
      background-color: var(--s-color-basic-white);
      &:hover {
        border-color: var(--s-color-main-brand);
      }
      &::after {
        background-color: var(--s-color-main-brand);
      }
    }
    &.is-checked {
      .el-radio__inner {
        background-color: var(--s-color-basic-white);
        border-color: var(--s-color-main-brand);
      }
      + .el-radio__label {
        color: var(--s-color-main-brand);
      }
    }
    &.is-disabled {
      .el-radio__inner {
        background-color: var(--s-color-neutral-placeholder);
        border-color: var(--s-color-neutral-border);
      }
      &.is-checked .el-radio__inner {
        background-color: var(--s-color-neutral-placeholder);
        border-color: var(--s-color-neutral-border);
        &::after {
          background-color: var(--s-color-neutral-inactive);
        }
      }
      & + span.el-radio__label {
        color: var(--s-color-neutral-inactive);
      }
    }
  }
  &-button {
    &:hover {
      #{$radio-button-class}__inner {
        border-color: var(--s-color-main-brand);
      }
    }
    &.is-disabled {
      #{$radio-button-class}__inner {
        color: var(--s-color-neutral-inactive);
      }
    }
    &.is-disabled,
    &.is-disabled:hover {
      #{$radio-button-class}__inner {
        border-color: var(--s-color-neutral-border);
      }
    }
    &.is-active {
      &:hover {
        #{$radio-button-class}__inner {
          background-color: var(--s-color-main-hover);
          border-color: var(--s-color-main-hover);
        }
      }
      &.is-disabled {
        #{$radio-button-class}__inner {
          color: var(--s-color-basic-white);
        }
      }
      &.is-disabled,
      &.is-disabled:hover {
        #{$radio-button-class}__inner {
          background-color: var(--s-color-main-inactive);
          border-color: var(--s-color-main-inactive);
        }
      }
    }
  }
  &-group {
    @include radio-button-size;
    @include radio-button-size("medium", $s-size-medium, $s-font-size-big);
    @include radio-button-size("big", $s-size-big, $s-font-size-big);
  }
}
