@import "./variables";
@import "./common";

$radio-button-class: ".el-radio-button";
$radio-button-border-width: 1px;
$radio-button-border-color: var(--s-color-main-brand);

@mixin radio-button-size(
  $modifier: "small",
  $size: $s-size-small,
  $font-size: $s-font-size-small
) {
  $radio-button-vertical-padding: #{($size - $font-size) / 2 - $radio-button-border-width};
  #{$radio-button-class} {
    &--#{$modifier} {
      height: $size;
      line-height: $size;
      #{$radio-button-class}__inner {
        padding-top: $radio-button-vertical-padding;
        padding-bottom: $radio-button-vertical-padding;
        font-size: $font-size;
      }
    }
  }
}

.el-radio {
  color: var(--s-color-base-content-primary);
  &.s-big {
    @extend .s-big;
    line-height: $s-size-big;
    &.is-bordered {
      padding-top: 18px;
    }
    > .el-radio__input .el-radio__inner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      &::after {
        width: 10px;
        height: 10px;
      }
    }
  }
  &.s-medium {
    @extend .s-medium;
    line-height: $s-size-medium;
    > .el-radio__input .el-radio__inner {
      width: 16px;
      height: 16px;
      border-width: 2px;
      &::after {
        width: 8px;
        height: 8px;
      }
    }
  }
  &.s-small {
    @extend .s-small;
    line-height: $s-size-small;
    &.is-bordered {
      padding-top: 9px;
    }
    > .el-radio__label {
      font-size: 12px;
    }
    > .el-radio__input .el-radio__inner {
      width: 14px;
      height: 14px;
      border-width: 2px;
      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }
  &.is-bordered {
    border-color: var(--s-color-base-border-primary);
    line-height: 0;
    &.is-checked {
      border-color: var(--s-color-theme-accent);
    }
    &.is-disabled {
      border-color: var(--s-color-base-border-primary);
    }
  }
  > .el-radio__input {
    .el-radio__inner {
      border-color: var(--s-color-base-border-primary);
      background-color: var(--s-color-utility-surface);
      &:hover {
        border-color: var(--s-color-theme-accent);
      }
      &::after {
        background-color: var(--s-color-theme-accent);
      }
    }
    &.is-checked {
      .el-radio__inner {
        background-color: var(--s-color-utility-surface);
        border-color: var(--s-color-theme-accent);
      }
      + .el-radio__label {
        color: var(--s-color-theme-accent);
      }
    }
    &.is-disabled {
      .el-radio__inner {
        background-color: var(--ss-color-base-background);
        border-color: var(--s-color-base-border-primary);
      }
      &.is-checked .el-radio__inner {
        background-color: var(--s-color-base-background);
        border-color: var(--s-color-base-border-primary);
        &::after {
          background-color: var(--s-color-base-content-quaternary);
        }
      }
      & + span.el-radio__label {
        color: var(--s-color-base-content-quaternary);
      }
    }
  }
  &-button {
    &:hover {
      #{$radio-button-class}__inner {
        border-color: $radio-button-border-color;
        color: var(--s-color-main-brand);
      }
      &:not(:first-child):not(.is-disabled) {
        #{$radio-button-class}__inner {
          &:before {
            opacity: 1;
          }
        }
      }
    }
    &:not(:first-child):not(.is-disabled) {
      #{$radio-button-class}__inner {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          display: block;
          opacity: 0;
          background-color: $radio-button-border-color;
          height: calc(100% + #{$radio-button-border-width * 2});
          width: $radio-button-border-width;
          left: -#{$radio-button-border-width};
          top: -#{$radio-button-border-width};
          transition: inherit;
          transition-property: opacity;
        }
      }
    }
    &.is-disabled {
      #{$radio-button-class}__inner {
        color: var(--s-color-neutral-inactive);
      }
    }
    &.is-disabled,
    &.is-disabled:hover {
      #{$radio-button-class}__inner {
        border-color: var(--s-color-neutral-border);
      }
    }
    &.is-active {
      &:hover {
        #{$radio-button-class}__inner {
          background-color: var(--s-color-main-hover);
          border-color: var(--s-color-main-hover);
        }
      }
      &.is-disabled {
        #{$radio-button-class}__inner {
          color: var(--s-color-basic-white);
        }
      }
      &.is-disabled,
      &.is-disabled:hover {
        #{$radio-button-class}__inner {
          background-color: var(--s-color-main-inactive);
          border-color: var(--s-color-main-inactive);
        }
      }
    }
  }
  &-group {
    @include radio-button-size;
    @include radio-button-size("medium", $s-size-medium, $s-font-size-big);
    @include radio-button-size("big", $s-size-big, $s-font-size-big);
    #{$radio-button-class} {
      &__inner {
        background-color: var(--s-color-basic-white);
        border-color: var(--s-color-neutral-border);
        color: var(--s-color-basic-black);
      }
      #{$radio-button-class}__inner {
        box-shadow: none;
      }
    }
    .is-disabled #{$radio-button-class}__inner {
      background-color: var(--s-color-basic-white);
    }
    .is-active #{$radio-button-class}__inner {
      background-color: var(--s-color-main-brand);
      border-color: var(--s-color-main-brand);
      color: var(--s-color-basic-white);
    }
  }
}
