:root {
  // Colors
  --s-color-theme-accent: #{$s-color-theme-accent};
  --s-color-theme-accent-hover: #{$s-color-theme-accent-hover};
  --s-color-theme-accent-pressed: #{$s-color-theme-accent-pressed};
  --s-color-theme-accent-focused: #{$s-color-theme-accent-focused};
  --s-color-theme-secondary: #{$s-color-theme-secondary};
  --s-color-theme-secondary-hover: #{$s-color-theme-secondary-hover};
  --s-color-theme-secondary-pressed: #{$s-color-theme-secondary-pressed};
  --s-color-theme-secondary-focused: #{$s-color-theme-secondary-focused};
  --s-color-base-content-primary: #{$s-color-base-content-primary};
  --s-color-base-content-secondary: #{$s-color-base-content-secondary};
  --s-color-base-content-tertiary: #{$s-color-base-content-tertiary};
  --s-color-base-content-quaternary: #{$s-color-base-content-quaternary};
  --s-color-base-background: #{$s-color-base-background};
  --s-color-base-dark-background: #{$s-color-base-dark-background};
  --s-color-base-border-primary: #{$s-color-base-border-primary};
  --s-color-base-border-secondary: #{$s-color-base-border-secondary};
  --s-color-base-background-hover: #{$s-color-base-background-hover};
  --s-color-base-disabled: #{$s-color-base-disabled};
  --s-color-base-on-disabled: #{$s-color-base-on-disabled};
  --s-color-base-on-accent: #{$s-color-base-on-accent};
  --s-color-utility-body: #{$s-color-utility-body};
  --s-color-utility-surface: #{$s-color-utility-surface};
  --s-color-utility-overlay: #{$s-color-utility-overlay};
  --s-color-status-success: #{$s-color-status-success};
  --s-color-status-warning: #{$s-color-status-warning};
  --s-color-status-error: #{$s-color-status-error};
  --s-color-status-success-background: #{$s-color-status-success-background};
  --s-color-status-warning-background: #{$s-color-status-warning-background};
  --s-color-status-error-background: #{$s-color-status-error-background};
  // Fiat colors
  --s-color-fiat-value: #{$s-color-fiat-value};
  // Fonts
  --s-font-family-default: #{$s-font-family-default};
  --s-font-family-mono: #{$s-font-family-mono};
  --s-font-family-icons: #{$s-font-family-icons};
  // Font Sizes
  --s-font-size-extra-mini: #{$s-font-size-extra-mini};
  --s-font-size-mini: #{$s-font-size-mini};
  --s-font-size-extra-small: #{$s-font-size-extra-small};
  --s-font-size-small: #{$s-font-size-small};
  --s-font-size-medium: #{$s-font-size-medium};
  --s-font-size-big: #{$s-font-size-big};
  --s-font-size-large: #{$s-font-size-large};
  // Icons font sizes
  --s-icon-font-size-mini: #{$s-icon-font-size-mini};
  --s-icon-font-size-small: #{$s-icon-font-size-small};
  --s-icon-font-size-medium: #{$s-icon-font-size-medium};
  --s-icon-font-size-big: #{$s-icon-font-size-big};
  // Heading Font Sizes
  --s-heading0-font-size: #{$s-heading0-font-size};
  --s-heading1-font-size: #{$s-heading1-font-size};
  --s-heading2-font-size: #{$s-heading2-font-size};
  --s-heading3-font-size: #{$s-heading3-font-size};
  --s-heading4-font-size: #{$s-heading4-font-size};
  --s-heading5-font-size: #{$s-heading5-font-size};
  --s-heading6-font-size: #{$s-heading6-font-size};
  --s-heading7-font-size: #{$s-heading7-font-size};
  --s-heading8-font-size: #{$s-heading8-font-size};
  // Font Line Height
  --s-line-height-reset: #{$s-line-height-reset};
  --s-line-height-mini: #{$s-line-height-mini};
  --s-line-height-extra-small: #{$s-line-height-extra-small};
  --s-line-height-small: #{$s-line-height-small};
  --s-line-height-base: #{$s-line-height-base};
  --s-line-height-medium: #{$s-line-height-medium};
  --s-line-height-big: #{$s-line-height-big};
  // Letter Spacing
  --s-letter-spacing-mini: #{$s-letter-spacing-mini};
  --s-letter-spacing-small: #{$s-letter-spacing-small};
  --s-letter-spacing-medium: #{$s-letter-spacing-medium};
  --s-letter-spacing-big: #{$s-letter-spacing-big};
  --s-letter-spacing-large: #{$s-letter-spacing-large};
  --s-letter-spacing-extra-large: #{$s-letter-spacing-extra-large};
  // Font Feature Settings
  --s-font-feature-settings-common: #{$s-font-feature-settings-common};
  --s-font-feature-settings-heading: #{$s-font-feature-settings-heading};
  --s-font-feature-settings-caps-heading: #{$s-font-feature-settings-caps-heading};
  --s-font-feature-settings-caps: #{$s-font-feature-settings-caps};
  --s-font-feature-settings-singleline: #{$s-font-feature-settings-singleline};
  --s-font-feature-settings-card-title: #{$s-font-feature-settings-card-title};
  --s-font-feature-settings-input: #{$s-font-feature-settings-input};
  --s-font-feature-settings-button: #{$s-font-feature-settings-button};
  // Size
  --s-size-mini: #{$s-size-mini};
  --s-size-small: #{$s-size-small};
  --s-size-medium: #{$s-size-medium};
  --s-size-big: #{$s-size-big};
  // Padding
  --s-basic-spacing: #{$s-basic-spacing};
  // Border Radius
  --s-border-radius-mini: #{$s-border-radius-mini};
  --s-border-radius-small: #{$s-border-radius-small};
  --s-border-radius-medium: #{$s-border-radius-medium};
  --s-border-radius-big: #{$s-border-radius-big};
  // Shadows
  --s-shadow-color-dark: #{$s-shadow-color-dark};
  --s-shadow-color-dark-light: #{$s-shadow-color-dark-light};
  --s-shadow-color-light: #{$s-shadow-color-light};
  --s-shadow-color-light-dark: #{$s-shadow-color-light-dark};
  --s-shadow-element: #{$s-shadow-element};
  --s-shadow-element-pressed: #{$s-shadow-element-pressed};
  --s-shadow-surface: #{$s-shadow-surface};
  --s-shadow-tooltip: #{$s-shadow-tooltip};
  --s-shadow-tab: #{$s-shadow-tab};
  --s-shadow-dropdown: #{$s-shadow-dropdown};
  --s-shadow-mobile-tap-bar: #{$s-shadow-mobile-tap-bar};
  --s-shadow-mobile-side-menu: #{$s-shadow-mobile-side-menu};
}
