@import "./variables";

@mixin slider-colors(
  $background-color: --s-color-theme-accent,
  $border-color: $background-color,
  $color: false
) {
  background-color: var($background-color);
  border-color: var($border-color);

  @if $color != false {
    color: var($color);
  }
}

@mixin slider-input-size($modifier: "mini", $size: $s-size-mini) {
  .el-input-number--#{$modifier} {
    line-height: $size;
    .el-input__inner {
      height: $size;
      line-height: $size;
    }
  }
}

.s-slider {
  .el-slider__runway,
  .disabled .el-slider__runway {
    background-color: var(--s-color-base-background);
  }
  .el-slider {
    &__button {
      @include slider-colors;
    }
    &__marks-text {
      color: var(--s-color-base-content-primary);
    }
    &__bar {
      background-color: var(--s-color-theme-accent);
    }
  }
  .disabled {
    .el-slider__bar {
      background-color: var(--s-color-base-border-primary);
    }
    .el-slider__button {
      @include slider-colors(--s-color-base-border-primary);
    }
  }
  .el-input {
    &__inner {
      @include slider-colors(--s-color-base-background);
      &:hover:not([disabled]):not(:focus) {
        @include slider-colors(--s-color-base-background-hover);
      }
      &:focus {
        @include slider-colors(--s-color-utility-surface, --s-color-base-border-primary);
      }
    }
    &-number {
      &__decrease,
      &__increase {
        height: 100%;
        top: 0;
        color: var(--s-color-base-on-accent);
        @include slider-colors($color: --s-color-base-on-accent);
        &:hover:not(.is-disabled)
          ~ .el-input
          .el-input__inner:not(.is-disabled) {
          border-color: var(--s-color-base-background-hover);
        }
        &.is-disabled {
          @include slider-colors(
            $background-color: --s-color-base-content-quaternary,
            $color: --s-color-base-on-accent
          );
        }
      }
      &__decrease {
        left: 0;
      }
      &__increase {
        right: 0;
      }
      &.is-disabled {
        .el-input-number__decrease,
        .el-input-number__increase {
          @include slider-colors(
            $background-color: --s-color-base-content-quaternary,
            $color: --s-color-base-on-accent
          );
        }
      }
    }
  }
  @include slider-input-size;
  @include slider-input-size("small", $s-size-small);
  @include slider-input-size("medium", $s-size-medium);
  @include slider-input-size("big", $s-size-big);
}
