$switch-class: ".el-switch";

.s-switch {
  #{$switch-class} {
    &__label {
      color: var(--s-color-base-content-primary);
      &.is-active {
        color: var(--s-color-theme-accent);
      }
    }
    &__core {
      border-color: var(--s-color-base-border-primary);
      background-color: var(--s-color-base-border-primary);
      &:after {
        background-color: var(--s-color-base-on-accent);
      }
    }
    &:hover,
    &.is-checked:hover {
      #{$switch-class}__core {
        background-color: var(--s-color-theme-accent-hover);
        border-color: var(--s-color-theme-accent-hover);
      }
    }
    &.is-disabled {
      opacity: 1;
      #{$switch-class}__core {
        background-color: var(--s-color-base-disabled);
        border-color: var(--s-color-base-disabled);
      }
    }
    &.is-checked {
      #{$switch-class}__core {
        background-color: var(--s-color-theme-accent);
        border-color: var(--s-color-theme-accent);
      }
      &.is-disabled {
        #{$switch-class}__core {
          background-color: var(--s-color-base-content-quaternary);
          border-color: var(--s-color-base-content-quaternary);
        }
      }
    }
  }
}
