.el-table,
.el-table__header-wrapper tbody td,
.el-table__footer-wrapper tbody td {
  color: var(--s-color-base-content-primary);
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: var(--s-color-base-background-hover);
  border-left: none;
  border-right: none;
}
.el-table__body {
  tr {
    &.hover-row {
      > td,
      &.current-row > td,
      &.el-table__row--striped > td,
      &.el-table__row--striped.current-row > td {
        background-color: var(--s-color-base-background-hover);
        border-left: none;
        border-right: none;
      }
    }
  }
}
.el-table:not(.el-table--border) th > .cell,
.el-table:not(.el-table--border) td > .cell {
  padding-left: 16px;
  padding-right: 16px;
}
.el-table:not(.el-table--border) .el-table-column--selection {
  + th > .cell, + td > .cell {
    padding-left: 0;
  }
}
.el-table--border th:first-child .cell,
.el-table--border td:first-child .cell {
  padding-left: 13px;
}
.el-table thead {
  color: var(--s-color-base-content-tertiary);
}
.el-table__empty-block {
  .el-table__empty-text {
    color: var(--s-color-base-content-tertiary);
  }
}
.el-table--group,
.el-table--border,
.el-table th.is-leaf,
.el-table td,
.el-table--border th {
  border-color: var(--s-color-base-border-secondary);
}
.el-table--group::after,
.el-table--border::after {
  background-color: var(--s-color-base-background);
}
.el-table:not(.el-table--border)::before {
  display: none
}
.el-table tr:last-child td {
  border-bottom: none;
}
.el-table__header {
  thead th .cell {
    @include font-weight(700, true);
  }
  label.el-checkbox.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    height: 4px;
    top: 7px;
  }
}
.el-table {
  .el-checkbox__inner {
    height: 20px;
    width: 20px;
    border-radius: var(--s-border-radius-mini);
    &::after {
      border-width: 2px;
      height: 10px;
      left: 6px;
      width: 5px;
    }
  }
}
.el-table--medium {
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 5px;
  }
  .el-checkbox__inner {
    height: 16px;
    width: 16px;
    &::after {
      top: 0;
      left: 4px;
      height: 8px;
      width: 4px;
    }
  }
}
.el-table--small {
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 4px;
  }
  .el-checkbox__inner {
    height: 14px;
    width: 14px;
    &::after {
      top: 1px;
      left: 4px;
      height: 6px;
      width: 2px;
    }
  }
}
.el-table__header-wrapper tbody td,
.el-table__footer-wrapper tbody td {
  background-color: var(--s-color-base-background);
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--s-color-theme-accent);
  border-color: var(--s-color-theme-accent);
}
.el-table__expand-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  > .el-icon.el-icon-arrow-right {
    font-family: var(--s-font-family-icons) !important;
    @extend .s-icon-chevron-down-rounded-16;
  }
  &--expanded {
    transform: rotate(180deg);
  }
}
.el-table__expanded-cell[class*=cell] {
  padding: 8px 16px;
  line-height: 22.4px;
  background: var(--s-color-base-background);
}
.s-hierarchical-table {
  display: flex;
  width: 100%;
  background: var(--s-color-base-background);
  &-level:not(&-level--last) {
    margin-right: 16px;
    border-right: 1px solid var(--s-color-base-border-primary)
  }
  .s-hierarchical-table-level {
    .el-table__body {
      display: block;
    }
    td {
      padding: 0;
    }
    &:not(.s-hierarchical-table-level--last) {
      .s-hierarchical-table-row {
        cursor: pointer;
        .cell {
          margin: 4px;
          padding-top: 3px;
          padding-bottom: 3px;
          border-radius: var(--s-border-radius-mini);
          transition: background 200ms;
        }
        &--active .cell, &:hover .cell {
          background: var(--s-color-base-border-primary);
        }
      }
    }
    &.s-hierarchical-table-level--last {
      .s-hierarchical-table-row {
        .cell {
          margin: 4px 0;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }
  }
  .el-table--enable-row-hover.s-hierarchical-table-level:not(.s-hierarchical-table-level--last) .el-table__body tr.s-hierarchical-table-row:hover > td {
    background: transparent;
  }
}
