@import "./variables";

.s-tabs {
  width: 100%;
  .el-tabs__item {
    font-weight: bold;
    .el-icon-close {
      &:before {
        font-weight: bold;
      }
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
    &.is-active {
      color: var(--s-color-theme-accent);
    }
    &:not(.is-active) {
      color: var(--s-color-base-content-primary);
    }
  }
  .el-tab-pane {
    color: var(--s-color-base-content-primary);
  }
  .el-tabs__nav-wrap::after {
    background-color: var(--s-color-base-background);
  }
  &.el-tabs--card {
    > .el-tabs__header {
      border-bottom-color: var(--s-color-base-background-hover);
      .el-tabs__nav {
        border-color: var(--s-color-base-background-hover);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .el-tabs__item {
        border-left-color: var(--s-color-base-background-hover);
      }
    }
  }
  &.el-tabs--border-card {
    border-color: var(--s-color-base-border-primary);
    > .el-tabs__header {
      background-color: var(--s-color-base-background);
      border-bottom-color: var(--s-color-base-border-primary);
      .el-tabs__item {
        &:hover, &.is-active {
          color: var(--s-color-theme-accent);
        }
      }
    }
  }
  &.s-rounded {
    .el-tabs__header {
      width: fit-content;
    }
    .el-tabs__nav-wrap {
      background-color: var(--s-color-base-background);
      border-radius: 8px;
      height: 32px;
      &::after, .el-tabs__active-bar {
        height: 0;
      }
      .el-tabs__item {
        padding: 0 32px;
        height: 28px;
        line-height: 28px;
        &:nth-child(2), &:last-child {
          padding: 0 32px;
        }
        &.is-active {
          color: var(--s-color-base-content-primary);
          background-color: var(--s-color-base-on-accent);
          box-shadow: $s-shadow-surface;
          border-radius: 8px;
          margin: 2px;
        }
        &:focus.is-focus {
          // TODO: make it more focusable
          box-shadow: $s-shadow-surface;
          border-radius: 8px;
        }
      }
    }
  }
  .el-tabs__active-bar {
    background-color: var(--s-color-theme-accent);
  }
}
