@import "./variables";

@mixin tabs-border-radius(
  $suffix: "big",
  $border-radius: var(--s-border-radius-big)
) {
  &.s-border-radius {
    &-#{$suffix} {
      border-radius: 0;
      &.el-tabs--card {
        > .el-tabs__header {
          .el-tabs__nav {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }
        }
      }
      &.s-rounded {
        .el-tabs__nav-wrap {
          border-radius: $border-radius;
          .el-tabs__item {
            &.is-active {
              border-radius: $border-radius;
            }
            &:focus.is-focus {
              border-radius: $border-radius;
            }
          }
        }
      }
    }
  }
}

.s-tabs {
  width: 100%;
  @include tabs-border-radius;
  @include tabs-border-radius("medium", var(--s-border-radius-medium));
  @include tabs-border-radius("small", var(--s-border-radius-small));
  @include tabs-border-radius("mini", var(--s-border-radius-mini));
  .el-tabs__item {
    font-weight: bold;
    .el-icon-close {
      &:before {
        font-weight: bold;
      }
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
    &.is-active {
      color: var(--s-color-theme-accent);
    }
    &:not(.is-active) {
      color: var(--s-color-base-content-primary);
    }
  }
  .el-tab-pane {
    color: var(--s-color-base-content-primary);
  }
  .el-tabs__nav-wrap::after {
    background-color: var(--s-color-base-background);
  }
  &.el-tabs--card {
    > .el-tabs__header {
      border-bottom-color: var(--s-color-base-background-hover);
      .el-tabs__nav {
        border-color: var(--s-color-base-background-hover);
      }
      .el-tabs__item {
        border-left-color: var(--s-color-base-background-hover);
      }
    }
  }
  &.el-tabs--border-card {
    border-color: var(--s-color-base-border-primary);
    > .el-tabs__header {
      background-color: var(--s-color-base-background);
      border-bottom-color: var(--s-color-base-border-primary);
      .el-tabs__item {
        &:hover,
        &.is-active {
          color: var(--s-color-theme-accent);
        }
      }
    }
  }
  &.s-rounded {
    .el-tabs__header {
      width: fit-content;
    }
    .el-tabs__nav-wrap {
      background-color: var(--s-color-base-background);
      height: 32px;
      &::after,
      .el-tabs__active-bar {
        height: 0;
      }
      .el-tabs__item {
        padding: 0 32px;
        height: 28px;
        line-height: 28px;
        &:nth-child(2),
        &:last-child {
          padding: 0 32px;
        }
        &.is-active {
          color: var(--s-color-base-content-primary);
          background-color: var(--s-color-base-on-accent);
          box-shadow: $s-shadow-surface;
          margin: 2px;
        }
        &:focus.is-focus {
          // TODO: make it more focusable
          box-shadow: $s-shadow-surface;
        }
      }
    }
  }
  .el-tabs__active-bar {
    background-color: var(--s-color-theme-accent);
  }
}
