@import "./variables";

.el-tooltip__popper {
  &.is-dark {
    background-color: $s-color-basic-black;
  }
  &.is-light {
    color: $s-color-basic-black;
  }
  border-color: $s-color-basic-black;
}
