@import "./variables";

.el-tooltip__popper {
  &.is-dark {
    background-color: var(--s-color-base-content-primary);
  }
  &.is-light {
    color: var(--s-color-base-content-primary);
    border-color: var(--s-color-base-content-primary);
  }
  border-color: var(--s-color-base-content-primary);
}
