.s-typography {
  &-input {
    &-text {
      font-size: var(--s-font-size-mini) !important;
      line-height: var(--s-line-height-medium) !important;
      font-weight: 300 !important;

      &--mini {
        font-size: var(--s-font-size-extra-mini) !important;
        line-height: var(--s-line-height-medium) !important;
        font-weight: 300 !important;
      }
    }
    &-field {
      font-size: var(--s-font-size-medium) !important;
      line-height: var(--s-line-height-medium) !important;
      font-weight: 400 !important;

      &--large {
        font-size: var(--s-font-size-large) !important;
        line-height: var(--s-line-height-small) !important;
        font-weight: 800 !important;
      }
    }
  }
  &-button {
    &--mini {
      font-size: var(--s-font-size-mini) !important;
      line-height: var(--s-line-height-extra-small) !important;
      font-weight: 800 !important;
    }
    &--small {
      font-size: var(--s-font-size-small) !important;
      line-height: var(--s-line-height-small) !important;
      font-weight: 800 !important;
    }
    &--medium {
      font-size: var(--s-font-size-medium) !important;
      line-height: var(--s-line-height-reset) !important;
      font-weight: 800 !important;
    }
    &--big {
      font-size: var(--s-font-size-big) !important;
      line-height: var(--s-line-height-small) !important;
      font-weight: 800 !important;
    }
    &--large {
      font-size: var(--s-font-size-large) !important;
      line-height: var(--s-line-height-reset) !important;
      font-weight: 800 !important;
    }
  }
  &-text {
    font-size: var(--s-font-size-extra-small) !important;
    line-height: var(--s-line-height-base) !important;
    font-weight: 300 !important;

    &--mini {
      font-size: var(--s-font-size-extra-mini) !important;
      line-height: var(--s-line-height-mini) !important;
      font-weight: 300 !important;
    }
  }
}
