// Primary theme colors
$s-color-theme-accent: #D0021B !default; // Primary button, links
$s-color-theme-accent-hover: #D51252 !default; // Primary button hover
$s-color-theme-accent-pressed: #C00F4A !default; // Primary button pressed
$s-color-theme-accent-focused: #AA0E42 !default; // Primary button focused
// Secondary theme colors
$s-color-theme-secondary: #F4E0E8 !default;
$s-color-theme-secondary-hover: #F3CCDA !default;
$s-color-theme-secondary-pressed: #F1C0D2 !default;
$s-color-theme-secondary-focused: #EDABC3 !default;
// Base content colors
$s-color-base-content-primary: #2D2926 !default;
$s-color-base-content-secondary: #53565A !default; // not used
$s-color-base-content-tertiary: #75787B !default;
$s-color-base-content-quaternary: #A3A4A8 !default;
// Base misc colors
$s-color-base-background: #F5F7F8 !default;
$s-color-base-dark-background: #4E4E4E !default; // not used
$s-color-base-border-primary: #DDE0E1 !default;
$s-color-base-border-secondary: #ECEFF0 !default;
$s-color-base-background-hover: #ECEFF0 !default;
$s-color-base-disabled: #F5F7F8 !default;
$s-color-base-on-disabled: #75787B !default;
$s-color-base-on-accent: #FFFFFF !default;
// Utility colors
$s-color-utility-body: #FFFFFF !default;
$s-color-utility-surface: #FFFFFF !default;
$s-color-utility-overlay: rgba(0, 0, 0, 0.45) !default;
// Status colors
$s-color-status-success: #009900 !default;
$s-color-status-warning: #FF9900 !default;
$s-color-status-error: #FF0000 !default;
$s-color-status-success-background: #CCEDCC !default;
$s-color-status-warning-background: #FFE3B8 !default;
$s-color-status-error-background: #FFF9FA !default;
// Shadow
// TODO: use it and discuss colors of these shadows
$s-shadow-surface: 0px 1px 4px rgba(13, 2, 72, 0.35) !default;
$s-shadow-tooltip: 0px 1px 4px rgba(13, 2, 72, 0.35) !default;
$s-shadow-tab: 0px 1px 1px rgba(0, 0, 0, 0.1) !default;
$s-shadow-dropdown: 0px 4px 8px rgba(19, 19, 19, 0.15) !default;
$s-shadow-mobile-tap-bar: 0px -4px 8px rgba(19, 19, 19, 0.15) !default;
$s-shadow-mobile-side-menu: -4px 4px 8px rgba(19, 19, 19, 0.15) !default;

// Size
$s-size-big: 56px !default;
$s-size-medium: 40px !default;
$s-size-small: 32px !default;
$s-size-mini: 24px !default;

// TODO: check do we need this default radius or not
$s-border-radius-default: 4px !default;

$s-border-radius-base: 4px;
$s-border-radius-mini: $s-border-radius-base !default;
$s-border-radius-small: $s-border-radius-base * 2 !default;
$s-border-radius-medium: $s-border-radius-base * 3 !default;
$s-border-radius-big: $s-border-radius-base * 4 !default;

// Fonts
$s-font-family-default: 'Sora', sans-serif !important;
$s-font-family-mono: 'JetBrainsMono', monospace !important;
$s-font-family-icons: 'soramitsu-icons' !important;
// Font sizes
$s-font-size-big: 14px !default;
$s-font-size-small: 12px !default;

// Responsive
$--sm: 640px !default;
$--md: 1024px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);

:root {
  --s-color-theme-accent: #{$s-color-theme-accent};
  --s-color-theme-accent-hover: #{$s-color-theme-accent-hover};
  --s-color-theme-accent-pressed: #{$s-color-theme-accent-pressed};
  --s-color-theme-accent-focused: #{$s-color-theme-accent-focused};
  --s-color-theme-secondary: #{$s-color-theme-secondary};
  --s-color-theme-secondary-hover: #{$s-color-theme-secondary-hover};
  --s-color-theme-secondary-pressed: #{$s-color-theme-secondary-pressed};
  --s-color-theme-secondary-focused: #{$s-color-theme-secondary-focused};
  --s-color-base-content-primary: #{$s-color-base-content-primary};
  --s-color-base-content-secondary: #{$s-color-base-content-secondary};
  --s-color-base-content-tertiary: #{$s-color-base-content-tertiary};
  --s-color-base-content-quaternary: #{$s-color-base-content-quaternary};
  --s-color-base-background: #{$s-color-base-background};
  --s-color-base-dark-background: #{$s-color-base-dark-background};
  --s-color-base-border-primary: #{$s-color-base-border-primary};
  --s-color-base-border-secondary: #{$s-color-base-border-secondary};
  --s-color-base-background-hover: #{$s-color-base-background-hover};
  --s-color-base-disabled: #{$s-color-base-disabled};
  --s-color-base-on-disabled: #{$s-color-base-on-disabled};
  --s-color-base-on-accent: #{$s-color-base-on-accent};
  --s-color-utility-body: #{$s-color-utility-body};
  --s-color-utility-surface: #{$s-color-utility-surface};
  --s-color-utility-overlay: #{$s-color-utility-overlay};
  --s-color-status-success: #{$s-color-status-success};
  --s-color-status-warning: #{$s-color-status-warning};
  --s-color-status-error: #{$s-color-status-error};
  --s-color-status-success-background: #{$s-color-status-success-background};
  --s-color-status-warning-background: #{$s-color-status-warning-background};
  --s-color-status-error-background: #{$s-color-status-error-background};
  --s-border-radius-mini: #{$s-border-radius-mini};
  --s-border-radius-small: #{$s-border-radius-small};
  --s-border-radius-medium: #{$s-border-radius-medium};
  --s-border-radius-big: #{$s-border-radius-big};
}
