// Primary theme colors
$s-color-theme-accent: #D0021B !default; // Primary button, links
$s-color-theme-accent-hover: #C6021A !default; // Primary button hover
$s-color-theme-accent-pressed: #BB0218 !default; // Primary button pressed
$s-color-theme-accent-focused: #B10217 !default; // Primary button focused
// Secondary theme colors
$s-color-theme-secondary: #FAE6E8 !default;
$s-color-theme-secondary-hover: #F6CCD1 !default;
$s-color-theme-secondary-pressed: #F1B3BB !default;
$s-color-theme-secondary-focused: #EC9AA4 !default;
// Base content colors
$s-color-base-content-primary: #2D2926 !default;
$s-color-base-content-secondary: #53565A !default;
$s-color-base-content-tertiary: #75787B !default;
$s-color-base-content-quaternary: #A3A4A8 !default;
// Base misc colors
$s-color-base-background: #F5F7F8 !default;
$s-color-base-dark-background: #4E4E4E !default; // not used
$s-color-base-border-primary: #DDE0E1 !default;
$s-color-base-border-secondary: #ECEFF0 !default;
$s-color-base-background-hover: #ECEFF0 !default;
$s-color-base-disabled: #F5F7F8 !default;
$s-color-base-on-disabled: #75787B !default;
$s-color-base-on-accent: #FFFFFF !default;
// Utility colors
$s-color-utility-body: #FFFFFF !default;
$s-color-utility-surface: #FFFFFF !default;
$s-color-utility-overlay: rgba(0, 0, 0, 0.45) !default;
// Status colors
$s-color-status-success: #009900 !default;
$s-color-status-warning: #FF9900 !default;
$s-color-status-error: #FF0000 !default;
$s-color-status-success-background: #CCEDCC !default;
$s-color-status-warning-background: #FFE3B8 !default;
$s-color-status-error-background: #FFF9FA !default;
// Fiat colors
$s-color-fiat-value: rgba(71, 154, 239, 1) !default;
// Shadow
$s-shadow-color-dark: rgba(0, 0, 0, 0.1);
$s-shadow-color-dark-light: rgba(0, 0, 0, 0.02);
$s-shadow-color-light: rgba(255, 255, 255, 1);
$s-shadow-color-light-dark: rgba(255, 255, 255, 0.8);
$s-shadow-element: 1px 1px 5px $s-shadow-color-light, inset -5px -5px 5px rgba(255, 255, 255, 0.5), inset 1px 1px 10px $s-shadow-color-dark;
$s-shadow-element-pressed: -5px -5px 10px $s-shadow-color-light, 1px 1px 10px $s-shadow-color-dark, inset 1px 1px 2px $s-shadow-color-light-dark;

// TODO: use it and discuss colors of these shadows
$s-shadow-surface: 0px 1px 4px rgba(13, 2, 72, 0.35) !default;
$s-shadow-tooltip: 0px 1px 4px rgba(13, 2, 72, 0.35) !default;
$s-shadow-tab: 0px 1px 1px var(--s-shadow-color-dark) !default;
$s-shadow-dropdown: 0px 4px 8px rgba(19, 19, 19, 0.15) !default;
$s-shadow-mobile-tap-bar: 0px -4px 8px rgba(19, 19, 19, 0.15) !default;
$s-shadow-mobile-side-menu: -4px 4px 8px rgba(19, 19, 19, 0.15) !default;

// Size
$s-size-big: 56px !default;
$s-size-medium: 40px !default;
$s-size-small: 32px !default;
$s-size-mini: 24px !default;

// Padding
$s-basic-spacing: 8px;

$s-border-radius-base: 4px;
$s-border-radius-mini: $s-border-radius-base !default;
$s-border-radius-small: $s-border-radius-base * 2 !default;
$s-border-radius-medium: $s-border-radius-base * 3 !default;
$s-border-radius-big: $s-border-radius-base * 4 !default;

// Fonts
$s-font-family-default: 'Sora', sans-serif !important;
$s-font-family-default-path: '~@/assets/fonts/Sora-VariableFont_wght.ttf' !default;
$s-font-family-mono: 'JetBrainsMono', monospace !important;
$s-font-family-mono-path: '~@/assets/fonts/JetBrainsMono-Regular.woff' !default;
$s-font-family-icons: 'soramitsu-icons' !important;
$s-font-family-icons-path: '~@/assets/fonts/soramitsu-icons-1.0.0.ttf' !default;
// Font sizes
$s-font-size-extra-mini: 11px !default;
$s-font-size-mini: 12px !default;
$s-font-size-extra-small: 13px !default;
$s-font-size-small: 14px !default;
$s-font-size-medium: 16px !default;
$s-font-size-big: 18px !default;
$s-font-size-large: 24px !default;
// Icons font sizes
$s-icon-font-size-mini: 16px !default;
$s-icon-font-size-small: 18px !default;
$s-icon-font-size-medium: 20px !default;
$s-icon-font-size-big: 24px !default;
// Font heading sizes
$s-heading0-font-size: 40px !default;
$s-heading1-font-size: 36px !default;
$s-heading2-font-size: 30px !default;
$s-heading3-font-size: 24px !default;
$s-heading4-font-size: 18px !default;
$s-heading5-font-size: 16px !default;
$s-heading6-font-size: 14px !default;
$s-heading7-font-size: 12px !default;
$s-heading8-font-size: 10px !default;
// Font Line Height
$s-line-height-reset: 1 !default;
$s-line-height-mini: 1.2 !default;
$s-line-height-extra-small: 1.25 !default;
$s-line-height-small: 1.3 !default;
$s-line-height-base: 1.4 !default;
$s-line-height-medium: 1.5 !default;
$s-line-height-big: 1.8 !default;
// Letter Spacing
$s-letter-spacing-mini: -0.04em !default;
$s-letter-spacing-small: -0.02em !default;
$s-letter-spacing-medium: -0.01em !default;
$s-letter-spacing-big: 0.01em !default;
$s-letter-spacing-large: 0.03em !default;
$s-letter-spacing-extra-large: 0.06em !default;
// Font Feature Settings
$s-font-feature-settings-common: '\"tnum\" on, \"lnum\" on, \"case\" on, \"salt\" on, \"ss01\" on' !default;
$s-font-feature-settings-heading: '\"tnum\" on, \"lnum\" on, \"salt\" on, \"case\" on' !default;
$s-font-feature-settings-caps-heading: '\"tnum\" on, \"lnum\" on, \"case\" on' !default;
$s-font-feature-settings-caps: '\"case\" on' !default;
$s-font-feature-settings-singleline: '\"salt\" on, \"case\" on' !default;
$s-font-feature-settings-card-title: '\"tnum\" on, \"lnum\" on, \"ss01\" on' !default;
$s-font-feature-settings-input: '\"tnum\" on, \"lnum\" on' !default;
$s-font-feature-settings-button: '\"tnum\" on, \"lnum\" on, \"salt\" on' !default;

// Responsive
$--sm: 640px !default;
$--md: 1024px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);

// Mixin for font-weight (temporarily solution)
@mixin font-weight($fontWeight: 400, $important: false) {
  @if $important == false {
    font-weight: $fontWeight;
  } @else {
    font-weight: $fontWeight !important;
  }
}
