// Main colors
$s-color-main-brand: #D0021B !default;
$s-color-main-hover: #E75264 !default;
$s-color-main-inactive: #F6CCD1 !default;
$s-color-main-hover-light: #FEE6E7 !default;
$s-color-main-base: #FFF9FA !default;
// Neutral colors
$s-color-neutral-primary: #53565A !default;
$s-color-neutral-secondary: #75787B !default;
$s-color-neutral-tertiary: #909296 !default;
$s-color-neutral-inactive: #C8C9C7 !default;
$s-color-neutral-border: #D9D9D6 !default;
$s-color-neutral-hover: #F0F0F0 !default;
$s-color-neutral-placeholder: #F1F3F4 !default;
// UI events colors
$s-color-error: #F0000B !default;
// Basic colors
$s-color-basic-black: #2D2926 !default;
$s-color-basic-white: #FFF !default;
// Size
$s-size-big: 56px !default;
$s-size-medium: 40px !default;
$s-size-small: 32px !default;

$s-border-radius-default: 4px !default;
// Fonts
$font-family-default: 'Sora', sans-serif !important;
$font-family-mono: 'JetBrainsMono', monospace !important;
// Responsive
$--sm: 640px !default;
$--md: 1024px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
