// Main colors
$color-main-brand: #D0021B;
$color-main-hover: #E75264;
$color-main-inactive: #F6CCD1;
$color-main-hover-light: #FEE6E7;
$color-main-base: #FFF9FA;
// Neutral colors
$color-neutral-primary: #53565A;
$color-neutral-secondary: #75787B;
$color-neutral-inactive: #C8C9C7;
$color-neutral-border: #D9D9D6;
$color-neutral-hover: #F0F0F0;
$color-neutral-placeholder: #F1F3F4; // changed from #F5F5F5
// UI events colors
$color-error: #F0000B;
// Basic colors
$color-basic-black: #2D2926;
$color-basic-white: #FFF;
// Size
$size-big: 56px;
$size-medium: 40px;
$size-small: 32px;

$border-radius-default: 4px;

@font-face {
  font-family: "SoraB";
  src: url("~@/assets/fonts/Sora-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SoraEB";
  src: url("~@/assets/fonts/Sora-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SoraSB";
  src: url("~@/assets/fonts/Sora-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sora";
  src: url("~@/assets/fonts/Sora-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("~@/assets/fonts/JetBrainsMono-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

$font-family-default: 'Sora', sans-serif !important;
$font-family-mono: 'JetBrainsMono', monospace !important;