@use '@/theme';
@use 'sass:map';

$outline-size: (
  md: 12px,
  lg: 16px,
  xl: 20px,
);

$dot-size: (
  md: 8px,
  lg: 9px,
  xl: 12px,
);

$color-primary: theme.token-as-var('sys.color.primary');
$color-border-primary: theme.token-as-var('sys.color.border-primary');

.s-radio-atom {
  @apply flex items-center justify-center;

  border-width: 1px;
  border-style: solid;
  border-radius: 99px;

  border-color: $color-border-primary;

  $root: &;

  &_checked,
  &_hover,
  &:hover {
    &:not(#{$root}_disabled) {
      border-color: $color-primary;
    }
  }

  &_checked#{&}_disabled &__dot {
    background: $color-border-primary;
  }

  &__dot {
    background: $color-primary;
    border-radius: 99px;

    &-transition {
      &-enter-active,
      &-leave-active {
        transition: all 0.4s ease;
      }

      &-enter-from,
      &-leave-to {
        opacity: 0;
      }
    }
  }

  @each $size in md, lg, xl {
    &_size_#{$size} {
      $px: map.get($outline-size, $size);
      width: $px;
      height: $px;
    }

    &_size_#{$size} &__dot {
      $px: map.get($dot-size, $size);
      width: $px;
      height: $px;
    }
  }
}
