// Neu button common variables
$neu-button-border-width: 2px !default;
$neu-button-border-style: solid !default;
$neu-button-transition: all 0.25s ease-in-out !default;

$neu-button-background-color-disabled: var(--s-color-utility-surface) !default;
$neu-button-border-color-disabled: var(--s-color-utility-body) !default;
$neu-button-box-shadow-disabled: var(--s-shadow-element) !default;
$neu-button-text-color-disabled: var(--s-color-base-content-tertiary) !default;

// Primary button: common
$neu-button-primary-border-width: $neu-button-border-width !default;
$neu-button-primary-border-width-alternative: 0px !default;
$neu-button-primary-border-style: $neu-button-border-style !default;
// Primary button: background colors
$neu-button-primary-background-color: var(--s-color-theme-accent) !default;
$neu-button-primary-background-color-hover: var(--s-color-theme-accent-hover) !default;
$neu-button-primary-background-color-pressed: var(--s-color-theme-accent-pressed) !default;
$neu-button-primary-background-color-alternative: var(--s-color-theme-secondary) !default;
$neu-button-primary-background-color-alternative-active: var(--s-color-theme-secondary-hover) !default;
// Primary button: text colors
$neu-button-primary-text-color: var(--s-color-base-on-accent) !default;
$neu-button-primary-text-color-hover: $neu-button-primary-text-color !default;
$neu-button-primary-text-color-pressed: $neu-button-primary-text-color !default;
// Primary button: border colors
$neu-button-primary-border-color: var(--s-color-base-border-secondary) !default;
$neu-button-primary-border-color-hover: var(--s-color-utility-surface) !default;
$neu-button-primary-border-color-pressed: $neu-button-primary-border-color-hover !default;
// Primary button: box-shadow
$neu-button-primary-box-shadow: 1px 1px 5px var(--s-shadow-color-light), -1px -1px 5px var(--s-shadow-color-light) !default;
$neu-button-primary-box-shadow-hover: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px var(--s-shadow-color-light), 0px 0px 20px rgba(247, 84, 163, 0.5) !default;
$neu-button-primary-box-shadow-pressed: $neu-button-primary-box-shadow-hover !default;
$neu-button-primary-box-shadow-alternative: none !default;
// Dark theme: Primary button: box-shadow
$neu-button-primary-box-shadow--dark: 1px 1px 5px var(--s-shadow-color-primary--dark), -1px -1px 5px var(--s-shadow-color-secondary--dark) !default;
$neu-button-primary-box-shadow-hover--dark: $neu-button-primary-box-shadow--dark !default;
$neu-button-primary-box-shadow-pressed--dark: $neu-button-primary-box-shadow--dark !default;
$neu-button-primary-box-shadow-alternative--dark: none !default;

:root {
  --neu-button-primary-box-shadow: #{$neu-button-primary-box-shadow};
  --neu-button-primary-box-shadow-hover: #{$neu-button-primary-box-shadow-hover};
  --neu-button-primary-box-shadow-pressed: #{$neu-button-primary-box-shadow-pressed};
  --neu-button-primary-box-shadow-alternative: #{$neu-button-primary-box-shadow-alternative};
  --neu-button-primary-box-shadow--dark: #{$neu-button-primary-box-shadow--dark};
  --neu-button-primary-box-shadow-hover--dark: #{$neu-button-primary-box-shadow-hover--dark};
  --neu-button-primary-box-shadow-pressed--dark: #{$neu-button-primary-box-shadow-pressed--dark};
  --neu-button-primary-box-shadow-alternative--dark: #{$neu-button-primary-box-shadow-alternative--dark};
}

[design-system-theme="dark"] {
  --neu-button-primary-box-shadow: var(--neu-button-primary-box-shadow--dark);
  --neu-button-primary-box-shadow-hover: var(--neu-button-primary-box-shadow-hover--dark);
  --neu-button-primary-box-shadow-pressed: var(--neu-button-primary-box-shadow-pressed--dark);
  --neu-button-primary-box-shadow-alternative: var(--neu-button-primary-box-shadow-alternative--dark);
}

// Secondary button: common
$neu-button-secondary-border-width: 0px !default;
$neu-button-secondary-border-style: $neu-button-border-style !default;
// Secondary button: background colors
$neu-button-secondary-background-color: var(--s-color-base-content-tertiary) !default;
$neu-button-secondary-background-color-active: var(--s-color-base-content-secondary) !default;
$neu-button-secondary-background-color-alternative: var(--s-color-utility-body) !default;
$neu-button-secondary-background-color-alternative-active: var(--s-color-base-content-tertiary) !default;
// Secondary button: text colors
$neu-button-secondary-text-color: var(--s-color-base-on-accent) !default;
$neu-button-secondary-text-color-active: $neu-button-secondary-text-color !default;
$neu-button-secondary-text-color-alternative: var(--s-color-base-content-secondary) !default;
$neu-button-secondary-text-color-alternative-active: var(--s-color-base-on-accent) !default;
// Secondary button: border colors
$neu-button-secondary-border-color: transparent !default;
$neu-button-secondary-border-color-active: $neu-button-secondary-border-color !default;
// Secondary button: box-shadow
$neu-button-secondary-box-shadow: var(--s-shadow-element-pressed) !default;
$neu-button-secondary-box-shadow-active: $neu-button-secondary-box-shadow !default;
$neu-button-secondary-box-shadow-alternative: $neu-button-secondary-box-shadow !default;

// Tertiary button: common
$neu-button-tertiary-border-width: 0px !default;
$neu-button-tertiary-border-style: $neu-button-border-style !default;
// Tertiary button: background colors
$neu-button-tertiary-background-color: var(--s-color-utility-body) !default;
$neu-button-tertiary-background-color-active: $neu-button-tertiary-background-color !default;
$neu-button-tertiary-background-color-alternative: $neu-button-tertiary-background-color !default;
// Tertiary button: text colors
$neu-button-tertiary-text-color: var(--s-color-base-content-tertiary) !default;
$neu-button-tertiary-text-color-active: var(--s-color-base-content-secondary) !default;
// Tertiary button: border colors
$neu-button-tertiary-border-color: transparent !default;
$neu-button-tertiary-border-color-active: $neu-button-tertiary-border-color !default;
// Tertiary button: box-shadow
$neu-button-tertiary-box-shadow: var(--s-shadow-element) !default;
$neu-button-tertiary-box-shadow-active: $neu-button-tertiary-box-shadow !default;
// Dark Theme: Tertiary button: box-shadow
$neu-button-tertiary-box-shadow--dark: var(--s-shadow-element-pressed--dark) !default;
$neu-button-tertiary-box-shadow-active--dark: $neu-button-tertiary-box-shadow--dark !default;

:root {
  --neu-button-tertiary-box-shadow: #{$neu-button-tertiary-box-shadow};
  --neu-button-tertiary-box-shadow-active: #{$neu-button-tertiary-box-shadow-active};
  --neu-button-tertiary-box-shadow--dark: #{$neu-button-tertiary-box-shadow--dark};
  --neu-button-tertiary-box-shadow-active--dark: #{$neu-button-tertiary-box-shadow-active--dark};
}

[design-system-theme="dark"] {
  --neu-button-tertiary-box-shadow: #{$neu-button-tertiary-box-shadow--dark};
  --neu-button-tertiary-box-shadow-active: #{$neu-button-tertiary-box-shadow-active--dark};
}

// Action button: common
$neu-button-action-border-width: 0px !default;
$neu-button-action-border-style: $neu-button-border-style !default;
// Action button: background colors
$neu-button-action-background-color: var(--s-color-utility-body) !default;
$neu-button-action-background-color-hover: $neu-button-action-background-color !default;
$neu-button-action-background-color-pressed: $neu-button-action-background-color !default;
$neu-button-action-background-color-alternative: transparent !default;
// Action button: text colors
$neu-button-action-text-color: var(--s-color-base-content-tertiary) !default;
$neu-button-action-text-color-hover: var(--s-color-base-content-secondary) !default;
$neu-button-action-text-color-pressed: var(--s-color-theme-accent) !default;
$neu-button-action-text-color-alternative: var(--s-color-base-content-tertiary) !default;
$neu-button-action-text-color-alternative-active: var(--s-color-base-content-secondary) !default;
$neu-button-action-primary-text-color: var(--s-color-base-on-accent) !default;
// Action button: Dark: text colors
$neu-button-action-primary-text-color--dark: var(--s-color-utility-surface) !default;
// Action button: border colors
$neu-button-action-border-color: transparent !default;
$neu-button-action-border-color-hover: $neu-button-action-border-color !default;
$neu-button-action-border-color-pressed: $neu-button-action-border-color !default;
$neu-button-action-border-color-alternative: transparent !default;
// Action button: box-shadow
$neu-button-action-box-shadow: $neu-button-secondary-box-shadow !default;
$neu-button-action-box-shadow-hover: $neu-button-action-box-shadow !default;
$neu-button-action-box-shadow-pressed: var(--s-shadow-element) !default;
$neu-button-action-box-shadow-alternative: none !default;

:root {
  --neu-button-action-primary-text-color: #{$neu-button-action-primary-text-color};
}

[design-system-theme="dark"] {
  --neu-button-action-primary-text-color: #{$neu-button-action-primary-text-color--dark};
}

$neu-button-padding-big: 7px 13px !default;
$neu-button-padding-medium: 5px 13px !default;
$neu-button-padding-small: 4px 6px !default;
$neu-button-padding-mini: 3px 6px !default;

@mixin disabled (
  $border-width: $neu-button-border-width,
  $background-color: $neu-button-background-color-disabled,
  $box-shadow: $neu-button-box-shadow-disabled
) {
  &:disabled, &:disabled:hover {
    color: $neu-button-text-color-disabled;
    background: $background-color;
    border-color: $neu-button-border-color-disabled;
    box-shadow: $box-shadow;
    border-width: $border-width;
  }
}

@mixin size ($suffix: 'big', $padding: $neu-button-padding-big) {
  &.s-#{$suffix} {
    padding: $padding;
    height: var(--s-size-#{$suffix});

    &.is-circle {
      width: var(--s-size-#{$suffix});
      padding: 7px;
    }
  }
}

@mixin action-size ($suffix: 'big') {
  &.s-#{$suffix} {
    padding: 0;
    height: var(--s-size-#{$suffix});
    width: var(--s-size-#{$suffix});
  }
}

.el-button.neumorphic {
  transition: $neu-button-transition;
  text-transform: uppercase;

  @include size('big', $neu-button-padding-big);
  @include size('medium', $neu-button-padding-medium);
  @include size('small', $neu-button-padding-small);
  @include size('mini', $neu-button-padding-mini);

  &.is-loading {
    &:before {
      background-color: transparent;
    }
  }

  &.s-primary {
    background: $neu-button-primary-background-color;
    border-color: $neu-button-primary-border-color;
    border-style: $neu-button-primary-border-style;
    border-width: $neu-button-primary-border-width;
    box-shadow: var(--neu-button-primary-box-shadow);
    color: $neu-button-primary-text-color;

    &:hover, &:focus, &.focusing {
      background: $neu-button-primary-background-color-hover;
      border-color: $neu-button-primary-border-color-hover;
      color: $neu-button-primary-text-color-hover;
      box-shadow: var(--neu-button-primary-box-shadow-hover);
      &.is-circle {
        border-color: $neu-button-primary-background-color-hover;
      }
    }
    &:active, &.s-pressed {
      background: $neu-button-primary-background-color-pressed;
      border-color: $neu-button-primary-border-color-pressed;
      color: $neu-button-primary-text-color-pressed;
      box-shadow: var(--neu-button-primary-box-shadow-pressed);
      &.is-circle {
        border-color: $neu-button-primary-background-color-pressed;
      }
    }
    @include disabled;

    &.s-alternative:not(.s-action) {
      background: $neu-button-primary-background-color-alternative;
      border-width: $neu-button-primary-border-width-alternative;
      box-shadow: var(--neu-button-primary-box-shadow-alternative);

      &:hover, &:focus, &.focusing, &:active, &.s-pressed {
        background: $neu-button-primary-background-color-alternative-active;
      }

      @include disabled($neu-button-primary-border-width-alternative);
    }

    &.is-circle {
      border-color: $neu-button-primary-background-color;
      &:disabled, &:disabled:hover {
        border-color: $neu-button-border-color-disabled;
      }
    }
  }

  &.s-secondary {
    background: $neu-button-secondary-background-color;
    border-color: $neu-button-secondary-border-color;
    border-style: $neu-button-secondary-border-style;
    border-width: $neu-button-secondary-border-width;
    box-shadow: $neu-button-secondary-box-shadow;
    color: $neu-button-secondary-text-color;

    &:hover, &:focus, &.focusing, &:active, &.s-pressed {
      background: $neu-button-secondary-background-color-active;
      border-color: $neu-button-secondary-border-color-active;
      color: $neu-button-secondary-text-color-active;
      box-shadow: $neu-button-secondary-box-shadow-active;
    }
    @include disabled($neu-button-secondary-border-width);

    &.s-alternative {
      background: $neu-button-secondary-background-color-alternative;
      box-shadow: $neu-button-secondary-box-shadow-alternative;
      color: $neu-button-secondary-text-color-alternative;

      &:hover, &:focus, &.focusing, &:active, &.s-pressed {
        background: $neu-button-secondary-background-color-alternative-active;
        color: $neu-button-secondary-text-color-alternative-active;
      }
      @include disabled($neu-button-secondary-border-width);
    }
  }

  &.s-tertiary {
    background: $neu-button-tertiary-background-color;
    border-color: $neu-button-tertiary-border-color;
    border-style: $neu-button-tertiary-border-style;
    border-width: $neu-button-tertiary-border-width;
    box-shadow: var(--neu-button-tertiary-box-shadow);
    color: $neu-button-tertiary-text-color;

    &:hover, &:focus, &.focusing, &:active, &.s-pressed {
      background: $neu-button-tertiary-background-color-active;
      border-color: $neu-button-tertiary-border-color-active;
      color: $neu-button-tertiary-text-color-active;
      box-shadow: var(--neu-button-tertiary-box-shadow-active);
    }
    @include disabled($neu-button-tertiary-border-width);

    &.s-alternative {
      background: $neu-button-tertiary-background-color-alternative;

      @include disabled($neu-button-tertiary-border-width);
    }
  }

  &.s-action {
    @include action-size('big');
    @include action-size('medium');
    @include action-size('small');
    @include action-size('mini');

    &.s-primary {
      color: var(--neu-button-action-primary-text-color);
    }

    &:not(.s-primary) {
      background: $neu-button-action-background-color;
      border-color: $neu-button-action-border-color;
      border-style: $neu-button-action-border-style;
      border-width: $neu-button-action-border-width;
      box-shadow: $neu-button-action-box-shadow;
      color: $neu-button-action-text-color;

      &:hover, &:focus, &.focusing {
        background: $neu-button-action-background-color-hover;
        border-color: $neu-button-action-border-color-hover;
        color: $neu-button-action-text-color-hover;
        box-shadow: $neu-button-action-box-shadow-hover;
      }
      &:active, &.s-pressed {
        background: $neu-button-action-background-color-pressed;
        border-color: $neu-button-action-border-color-pressed;
        color: $neu-button-action-text-color-pressed;
        box-shadow: $neu-button-action-box-shadow-pressed;
      }
      @include disabled($neu-button-action-border-width, $neu-button-action-background-color, $neu-button-action-box-shadow-pressed);
      &.s-alternative {
        color: $neu-button-action-text-color-alternative;

        &, &:hover, &:focus, &.focusing, &:active, &.s-pressed {
          background-color: $neu-button-action-background-color-alternative;
          border-color: $neu-button-action-border-color-alternative;
          box-shadow: $neu-button-action-box-shadow-alternative;
        }
        &:hover, &:focus, &.focusing, &:active, &.s-pressed {
          color: $neu-button-action-text-color-alternative-active;
        }
        @include disabled($neu-button-action-border-width, $neu-button-action-background-color-alternative, $neu-button-action-box-shadow-alternative);
      }
    }
  }
}
