@mixin status ($status: 'success') {
  &.s-status-#{$status} {
    background: var(--s-color-status-#{$status}-background);
    color: var(--s-color-status-#{$status});
  }
}

.s-card.neumorphic {
  background: var(--s-color-base-background);
  border: none;

  @include status;
  @include status('warning');
  @include status('error');

  .el-card {
    &__header, &__body {
      padding: 0;
    }
  }

  &.s-size {
    &-big {
      padding: $s-basic-spacing * 3 $s-basic-spacing * 3 $s-basic-spacing * 4; // 24 24 32 - content card
    }
    &-medium {
      padding: $s-basic-spacing * 2; // 16 16 - status cards, info cards
    }
    &-small {
      padding: $s-basic-spacing $s-basic-spacing * 1.5; // 8 12 accounts
    }
    &-mini {
      padding: $s-basic-spacing * 0.25 $s-basic-spacing * 0.75 // 2 6 - badge
    }
  }

  &.is-always-shadow, &.is-hover-shadow:hover, &.is-hover-shadow:focus {
    box-shadow: var(--s-shadow-inset);
  }

  &.s-primary {
    background: var(--s-color-utility-surface);

    &.is-always-shadow, &.is-hover-shadow:hover, &.is-hover-shadow:focus {
      box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.9), 1px 1px 15px var(--s-shadow-color-dark), inset 1px 1px 10px var(--s-shadow-color-light);
    }
  }
}