$neu-input-border-width: 0 !default;
$neu-input-background: var(--s-color-base-background) !default;
$neu-input-box-shadow: var(--s-shadow-element) !default;
$neu-input-box-shadow-active: $neu-input-box-shadow !default;
$neu-input-color: var(--s-color-base-content-primary) !default;
$neu-input-color-disabled: var(--s-color-base-content-secondary) !default;
$neu-input-placeholder-color: var(--s-color-base-content-secondary) !default;
$neu-input-placeholder-offset: -2px !default;
$neu-input-padding: $s-basic-spacing $s-basic-spacing * 2 !default;

.s-input.neumorphic {
  border-width: $neu-input-border-width;
  box-shadow: $neu-input-box-shadow;
  color: $neu-input-color;
  padding: $neu-input-padding;
  height: initial;
  min-height: $s-size-big;

  &.s-size-small {
    padding-top: $s-basic-spacing / 2;
    padding-bottom: $s-basic-spacing / 2;
    min-height: $s-size-small;
  }

  &.s-size-medium {
    min-height: $s-size-medium;
  }

  .el-input, .el-textarea {
    &__inner {
      color: $neu-input-color;
      letter-spacing: var(--s-letter-spacing-small);

      &::placeholder {
        color: var(--s-color-base-content-primary);
      }
    }

    &.is-disabled {
      .el-input__inner {
        background-color: transparent;
      }
    }
  }

  & .s-placeholder {
    color: $neu-input-placeholder-color;
    top: $neu-input-placeholder-offset;
    letter-spacing: var(--s-letter-spacing-small);
    @include font-weight(300, true);
  }

  &, &:hover, &.s-focused, &.s-disabled {
    background: $neu-input-background;
  }

  &.s-focused, &.s-disabled {
    box-shadow: $neu-input-box-shadow-active;
  }

  &.s-disabled {
    color: $neu-input-color-disabled;

    .s-placeholder {
      color: $neu-input-placeholder-color;
    }
  }

  .el-input__prefix {
    color: var(--s-color-base-content-secondary);
    font-size: var(--s-icon-font-size-mini);
  }
}
