$neu-input-border-width: 0 !default;
$neu-input-background: var(--neu-color-base-background) !default;
$neu-input-box-shadow: var(--neu-shadow-element) !default;
$neu-input-box-shadow-active: var(--neu-shadow-element-pressed) !default;
$neu-input-color: var(--neu-color-base-content-primary) !default;
$neu-input-color-disabled: var(--neu-color-base-content-secondary) !default;
$neu-input-placeholder-color: var(--neu-color-base-content-secondary) !default;
$neu-input-placeholder-offset: -2px !default;
$neu-input-padding: 8px 16px !default;

.s-input.neumorphic {
  border-width: $neu-input-border-width;
  box-shadow: $neu-input-box-shadow;
  color: $neu-input-color;
  padding: $neu-input-padding;

  .el-input, .el-textarea {
    &__inner {
      color: $neu-input-color;
    }

    &.is-disabled {
      .el-input__inner {
        background-color: transparent;
      }
    }
  }

  & .s-placeholder {
    color: $neu-input-placeholder-color;
    top: $neu-input-placeholder-offset;
  }

  &, &:hover, &.s-focused, &.s-disabled {
    background: $neu-input-background;
  }

  &.s-focused, &.s-disabled {
    box-shadow: $neu-input-box-shadow-active;
  }

  &.s-disabled {
    color: $neu-input-color-disabled;

    .s-placeholder {
      color: $neu-input-placeholder-color;
    }
  }
}
