@mixin focus-outline($focusWithin: false) {
  @if $focusWithin = true {
    &:focus-within {
      outline: 1px solid var(--s-color-outline);
    }
  } @else {
    &:focus {
      outline: 1px solid var(--s-color-outline);
    }
  }
}
