@mixin focus-outline($focusWithin: false) {
  $outline: 1px solid var(--s-color-outline);
  @if $focusWithin == true {
    &:focus-within {
      outline: $outline;
    }
  } @else {
    &:focus:not(:active) {
      outline: $outline;
    }
  }
}
