@mixin inner-size ($size: 'big', $value: 32px) {
  &.s-#{$size} {
    > .el-radio__input {
      .el-radio__inner {
        width: $value;
        height: $value;

        &::after {
          width: $value - 10;
          height: $value - 10;
        }
      }
    }
  }
}

.s-radio.neumorphic {
  color: var(--s-color-base-content-primary);

  &.s-big,
  &.s-medium,
  &.s-small {
    > .el-radio__input {
      .el-radio__inner {
        border-width: 1px;
      }
    }
  }

  @include inner-size('big', 32px);
  @include inner-size('medium', 28px);
  @include inner-size('small', 24px);
  @include inner-size('mini', 20px);

  > .el-radio__input {
    &.is-checked {
      .el-radio__inner {
        border-color: var(--s-color-base-border-secondary);
        background-color: var(--s-color-base-background);
      }
  
      & + .el-radio__label {
        color: var(--s-color-theme-accent);
      }
    }
    &.is-disabled {
      .el-radio__inner {
        border-color: var(--s-color-base-border-secondary);
        background-color: var(--s-color-base-background);
      }

      & + .el-radio__label {
        color: var(--s-color-base-on-disabled);
      }
    }
    &.is-disabled.is-checked {
      .el-radio__inner {
        border-color: var(--s-color-base-border-secondary);
      }
    }
  }

  > .el-radio__input {
    .el-radio__inner {
      border-width: 1px;
      border-color: var(--s-color-base-border-secondary);
      box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
      background-color: var(--s-color-base-background);

      &:hover {
        border-color: var(--s-color-base-border-secondary);
      }

      &::after {
        background-color: var(--s-color-theme-accent);
        box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8);
      }
    }
  }
}