$radio-button-border-width: 1px;

@mixin inner-size ($size-label: 'big', $size: var(--s-size-small)) {
  $vertical-padding: calc(calc(var(--s-size-#{$size-label}) - #{$size} - #{$radio-button-border-width * 2}) / 2);
  &.s-#{$size-label} {
    > .el-radio__input {
      .el-radio__inner {
        width: $size;
        height: $size;

        &::after {
          $mark-size: calc(#{$size} - 10px);
          width: $mark-size;
          height: $mark-size;
        }
      }
    }
  }
  &.is-bordered.s-#{$size-label} {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }
}

.s-radio.neumorphic {
  color: var(--s-color-base-content-primary);

  &.s-big,
  &.s-medium,
  &.s-small {
    > .el-radio__input {
      .el-radio__inner {
        border-width: 1px;
      }
    }
  }

  @include inner-size;
  @include inner-size('medium', 28px);
  @include inner-size('small', 24px);
  @include inner-size('mini', 20px);

  > .el-radio__input {
    &.is-checked {
      .el-radio__inner {
        border-color: var(--s-color-base-border-secondary);
        background-color: var(--s-color-base-background);
      }
  
      & + .el-radio__label {
        color: var(--s-color-theme-accent);
      }
    }
    &.is-disabled {
      .el-radio__inner {
        border-color: var(--s-color-base-border-secondary);
        background-color: var(--s-color-base-background);
      }

      & + .el-radio__label {
        color: var(--s-color-base-on-disabled);
      }
    }
    &.is-disabled.is-checked {
      .el-radio__inner {
        border-color: var(--s-color-base-border-secondary);
      }
    }
  }

  > .el-radio__input {
    .el-radio__inner {
      border-width: 1px;
      border-color: var(--s-color-base-border-secondary);
      box-shadow: 1px 1px 2px var(--s-shadow-color-light), inset 1px 1px 2px var(--s-shadow-color-dark);
      background-color: var(--s-color-base-background);

      &:hover {
        border-color: var(--s-color-base-border-secondary);
      }

      &::after {
        background-color: var(--s-color-theme-accent);
        box-shadow: -1px -1px 1px var(--s-shadow-color-dark-light), 1px 1px 3px var(--s-shadow-color-dark), inset 1px 1px 2px var(--s-shadow-color-light-dark);
      }
    }
  }
}