$switch-class: ".el-switch";
$switch-circle-size: 18px;

.s-switch.neumorphic {
  #{$switch-class} {
    &__label {
      color: var(--s-color-base-content-primary);
      &.is-active {
        color: var(--s-color-theme-accent);
      }
    }
    &__core {
      background-color: var(--s-color-base-background);
      border: none;
      box-shadow: var(--s-shadow-inset);

      &::after {
        width: $switch-circle-size;
        height: $switch-circle-size;
        background-color: var(--s-color-base-content-secondary);
      }
    }

    &.is-disabled {
      #{$switch-class}__core {
        background-color: var(--s-color-base-disabled);
      }
    }

    &.is-checked {
      #{$switch-class}__core {
        background-color: var(--s-color-theme-accent);
        &::after {
          margin-left: -$switch-circle-size - 1;
          background-color: var(--s-color-base-on-accent);
          box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px var(--s-shadow-color-light), 0px 0px 20px rgba(247, 84, 163, 0.5);
        }
      }

      &.is-disabled {
        #{$switch-class}__core {
          background-color: var(--s-color-base-content-quaternary);
        }
      }
    }

    &:hover:not(.is-disabled),
    &.is-checked:hover:not(.is-disabled) {
      #{$switch-class}__core {
        background-color: var(--s-color-theme-accent-hover);

        &::after {
          background-color: var(--s-color-base-on-accent);
        }
      }
    }
  }
}