$switch-class: ".el-switch";
$switch-circle-size: 18px;

.s-switch.neumorphic {
  #{$switch-class} {
    &__label {
      color: var(--neu-color-base-content-primary);
      &.is-active {
        color: var(--neu-color-theme-accent);
      }
    }
    &__core {
      background-color: var(--neu-color-base-background);
      border: none;
      box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.8);

      &::after {
        width: $switch-circle-size;
        height: $switch-circle-size;
        background-color: var(--neu-color-base-content-secondary);
      }
    }

    &.is-disabled {
      #{$switch-class}__core {
        background-color: var(--neu-color-base-disabled);
      }
    }

    &.is-checked {
      #{$switch-class}__core {
        background-color: var(--neu-color-theme-accent);
        &::after {
          margin-left: -$switch-circle-size - 1;
          background-color: var(--neu-color-base-on-accent);
        }
      }

      &.is-disabled {
        #{$switch-class}__core {
          background-color: var(--neu-color-base-content-quaternary);
        }
      }
    }

    &:hover:not(.is-disabled),
    &.is-checked:hover:not(.is-disabled) {
      #{$switch-class}__core {
        background-color: var(--neu-color-theme-accent-hover);

        &::after {
          background-color: var(--neu-color-base-on-accent);
        }
      }
    }
  }
}