.s-tabs.neumorphic {
  .el-tabs {
    &__active-bar {
      background-color: var(--s-color-theme-accent);
    }
    &__nav-wrap {
      .el-tabs__item {
        &:not(.is-active) {
          color: var(--s-color-base-content-primary);
        }
        &.is-active {
          color: var(--s-color-theme-accent);
        }
      }
    }
  }

  &.s-rounded {
    .el-tabs {
      &__nav-wrap {
        background-color: var(--s-color-base-background);
        box-shadow: var(--s-shadow-drop);

        .el-tabs__item {
          &.is-active {
            &, &:focus.is-focus {
              color: var(--s-color-theme-accent);
              background-color: var(--s-color-utility-surface);
              box-shadow: var(--s-shadow-inset);
            }
          }
          &:not(.is-active) {
            &:hover {
              color: var(--s-color-theme-accent-hover);
            }
            &:focus.is-focus {
              box-shadow: none;
              color: var(--s-color-theme-accent-focused);
            }
          }
        }
      }
    }
  }
}