.s-tabs.neumorphic {
  .el-tabs {
    &__active-bar {
      background-color: var(--neu-color-theme-accent);
    }
    &__nav-wrap {
      .el-tabs__item {
        &:not(.is-active) {
          color: var(--neu-color-base-content-primary);
        }
        &.is-active {
          color: var(--neu-color-theme-accent);
        }
      }
    }
  }

  &.s-rounded {
    .el-tabs {
      &__nav-wrap {
        background-color: var(--neu-color-base-background);
        // box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), -1px -1px 1px rgba(0, 0, 0, 0.02), 1px 1px 3px rgba(0, 0, 0, 0.1);
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,.1));
        box-shadow: inset 1px 1px 2px #fff;

        .el-tabs__item {
          &.is-active {
            &, &:focus.is-focus {
              color: var(--neu-color-theme-accent);
              background-color: var(--neu-color-utility-surface);
              box-shadow: 1px 1px 2px #FFFFFF, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
            }
          }
          &:not(.is-active) {
            &:hover {
              color: var(--neu-color-theme-accent-hover);
            }
            &:focus.is-focus {
              box-shadow: none;
              color: var(--neu-color-theme-accent-focused);
            }
          }
        }
      }
    }
  }
}