.s-tabs.neumorphic {
  .el-tabs {
    &__active-bar {
      background-color: var(--neu-color-theme-accent);
    }
    &__nav-wrap {
      .el-tabs__item {
        &:not(.is-active) {
          color: var(--neu-color-base-content-primary);
        }
        &.is-active {
          color: var(--neu-color-theme-accent);
        }
      }
    }
  }

  &.s-rounded {
    .el-tabs {
      &__nav-wrap {
        background-color: var(--neu-color-base-background);
        filter: drop-shadow(1px 1px 2px $neu-shadow-color-dark);
        box-shadow: inset 1px 1px 2px $neu-shadow-color-light;

        .el-tabs__item {
          &.is-active {
            &, &:focus.is-focus {
              color: var(--neu-color-theme-accent);
              background-color: var(--neu-color-utility-surface);
              box-shadow: 1px 1px 2px $neu-shadow-color-light, inset 1px 1px 2px $neu-shadow-color-dark;
            }
          }
          &:not(.is-active) {
            &:hover {
              color: var(--neu-color-theme-accent-hover);
            }
            &:focus.is-focus {
              box-shadow: none;
              color: var(--neu-color-theme-accent-focused);
            }
          }
        }
      }
    }
  }
}