$neu-tooltip-max-width: 236px !default;
$neu-tooltip-padding: 6px 8px !default;
$neu-tooltip-line-height: 12px !default;
$neu-tooltip-background-color:  var(--s-color-base-content-secondary) !default;

.el-tooltip__popper.neumorphic {
  max-width: $neu-tooltip-max-width;
  padding: $neu-tooltip-padding;
  line-height: $neu-tooltip-line-height;
  font-size: var(--s-font-size-extra-mini);

  &.is-light,
  &.is-dark {
    background-color: $neu-tooltip-background-color;
    border-color: $neu-tooltip-background-color;
    color: var(--s-color-base-on-accent);

    .popper__arrow {
      border-bottom-color: $neu-tooltip-background-color;
      &::after {
        border-bottom-color: inherit;
      }
    }
    &[x-placement^="top"] .popper__arrow {
      border-top-color: $neu-tooltip-background-color;
      border-bottom-color: transparent;
      &::after {
        border-top-color: inherit;
      }
    }
    &[x-placement^="bottom"] .popper__arrow {
      border-bottom-color: $neu-tooltip-background-color;
      &::after {
        border-top-color: inherit;
        border-bottom-color: $neu-tooltip-background-color;
      }
    }
    &[x-placement^="right"] .popper__arrow {
      border-right-color: $neu-tooltip-background-color;
      border-bottom-color: transparent;
      &::after {
        border-right-color: inherit;
      }
    }
    &[x-placement^="left"] .popper__arrow {
      border-left-color: $neu-tooltip-background-color;
      border-bottom-color: transparent;
      &::after {
        border-left-color: inherit;
      }
    }
  }
  &.s-border-radius-mini {
    $popper-arrow-shift: calc(var(--s-border-radius-mini) / 4);
    $popper-arrow-width: 7px;
    &[x-placement^="right"],
    &[x-placement^="right-start"],
    &[x-placement^="left"],
    &[x-placement^="left-start"] {
      .popper__arrow {
        margin-top: $popper-arrow-shift;
      }
    }
    &[x-placement^="right-end"],
    &[x-placement^="left-end"] {
      .popper__arrow {
        margin-bottom: $popper-arrow-shift;
      }
    }
    &[x-placement^="right"] .popper__arrow {
      border-right-width: $popper-arrow-width;
    }
    &[x-placement^="left"] .popper__arrow {
      border-left-width: $popper-arrow-width;
    }
  }
}