$neu-tooltip-max-width: 236px !default;
$neu-tooltip-padding: 6px 8px !default;
$neu-tooltip-line-height: $s-line-height-base !default;
$neu-tooltip-background-color:  var(--neu-color-base-content-secondary) !default;

.el-tooltip__popper.neumorphic {
  max-width: $neu-tooltip-max-width;
  padding: $neu-tooltip-padding;
  line-height: $neu-tooltip-line-height;

  &.is-light {
    background-color: $neu-tooltip-background-color;
    border-color: $neu-tooltip-background-color;
    color: var(--neu-color-utility-body);

    .popper__arrow {
      border-bottom-color: $neu-tooltip-background-color;
      &::after {
        border-bottom-color: inherit;
      }
    }
    &[x-placement^="top"] .popper__arrow {
      border-top-color: $neu-tooltip-background-color;
      border-bottom-color: transparent;
      &::after {
        border-top-color: inherit;
      }
    }
    &[x-placement^="bottom"] .popper__arrow {
      border-bottom-color: $neu-tooltip-background-color;
      &::after {
        border-top-color: inherit;
        border-bottom-color: $neu-tooltip-background-color;
      }
    }
    &[x-placement^="right"] .popper__arrow {
      border-right-color: $neu-tooltip-background-color;
      border-bottom-color: transparent;
      &::after {
        border-right-color: inherit;
      }
    }
    &[x-placement^="left"] .popper__arrow {
      border-left-color: $neu-tooltip-background-color;
      border-bottom-color: transparent;
      &::after {
        border-left-color: inherit;
      }
    }
  }
}