$tokens: (
  'ref': (
    // empty, yet
  ),
  'sys': (
    'color': (
      // Primary
      'primary': null,
      'primary-background': null,
      'primary-hover': null,
      'primary-hover-background': null,
      'primary-pressed': null,
      'primary-pressed-background': null,
      'primary-focused': null,
      'primary-focused-background': null,
      // Neutral - Content
      'content-primary': null,
      'content-secondary': null,
      'content-tertiary': null,
      'content-quaternary': null,
      'content-on-background-inverted': null,
      // Neutral - Background
      'background': null,
      'background-hover': null,
      'background-inverted': null,
      // Neutral - Border
      'border-primary': null,
      'border-secondary': null,
      // Neutral - State
      'disabled': null,
      'on-disabled': null,
      // Utility
      'util':
        (
          'body': null,
          'surface': null,
          'surface-overlay': null,
          'overlay': null,
          'surface-variant': null,
          'content-on-surface-variant': null,
        ),
      // Status
      'status':
        (
          'success': null,
          'success-background': null,
          'success-background-hover': null,
          'warning': null,
          'warning-background': null,
          'warning-background-hover': null,
          'error': null,
          'error-background': null,
          'error-background-hover': null,
          'info': null,
          'info-background': null,
          'info-background-hover': null,
          'debug': null,
          'debug-background': null,
          'debug-background-hover': null,
        ),
    ),
    'shadow': (
      'page-header': null,
      'page-header-light': null,
      'modal-window-header': null,
      'floating-notification': null,
      'dropdown': null,
      'active-tab': null,
    ),
  ),
  'comp': (
    // empty, yet
  ),
);

$typography-tokens: d1, d2, h1, h2, h3, h4, h4-bold, h5, h6, h7, ch1, ch2, ch3, p1, p2, p3, p4, p5, s1;
